.swith-box {
  display: block;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  width: 130px;
  line-height: normal;
}

.swith-box button {
  position: absolute;
  transition: all .3s;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  padding: 0;
  margin: 0;
}

.swith-box span {
  display: inline-block;
  width: 50%;
  color: rgb(86, 86, 86);
  padding: 5px 0;
  white-space: nowrap;
  line-height: 1;
  user-select: none;
  text-align: center;
}

.invisible {
  visibility: hidden;
}

.switch-active {
  color: #000 !important;
  font-weight: 800;
}
