<div class="aceeditor">
  <div class="aceeditor-menu">
    <button style="margin-left: 10px" type="button" (click)="format()">
      <clr-icon shape="view-list"></clr-icon>
    </button>
    <div class="select-box">
      <select class="ace-select" [disabled]="!isValid" name="aceMode" (change)="aceModeChange()" [(ngModel)]="aceMode">
        <option value="ace/mode/json" selected>JSON</option>
        <option value="ace/mode/yaml">YAML</option>
      </select>
      <div class="select-mask" *ngIf="!isValid" (click)="clickEvent()"></div>
    </div>
  </div>
  <div style="position: relative;height: 500px" #editorElement></div>
</div>
