<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
    <div class="clr-row flex-items-xs-between flex-items-xs-top" style="padding-left: 15px; padding-right: 15px;">
      <h2 class="header-title">操作权限列表</h2>
    </div>
    <div class="clr-row flex-items-xs-between" style="height:32px;">
      <div class="option-left">
        <button class="btn btn-link" (click)="openModal()">
          <clr-icon shape="add"></clr-icon>
          创建操作权限
        </button>
        <!-- <button class="btn btn-link" (click)="initPermission()"><clr-icon shape="add"></clr-icon>初始化操作权限</button> -->
        <create-edit-permission (create)="createPermission($event)"></create-edit-permission>
      </div>
    </div>
    <list-permission [permissions]="changedPermissions" (delete)="deletePermission($event)"
                     (edit)="editPermission($event)" (paginate)="retrieve($event)"
                     [page]="pageState.page"></list-permission>
  </div>
</div>
