:host {
  display: inline-block;
  &.hide {
    display: none;
  }
}

.tabs-item {
  display: block;
  padding: 0 12px;
  height: 22px;
  margin-bottom: 15px;
  line-height: 22px;
  font-size: 14px;
  box-shadow: inset 0 0 0 1px #eaeaea;
  transition: color .3s ease-in-out;
  cursor: pointer;
}

.tabs-item.active, .tabs-item:hover {
  color: #4a87ee;
  box-shadow: inset 0 0 0 1px #4a87ee;
}

