<clr-datagrid (clrDgRefresh)="refresh($event)">
  <clr-dg-column class="col-app-name" [clrDgField]="'name'">
    <ng-container *clrDgHideableColumn="showState['name']">
      {{'ADMIN.KUBERNETES.JOB.LIST.NAME' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'namespace'">
    <ng-container *clrDgHideableColumn="showState['namespace']">
      {{'ADMIN.KUBERNETES.JOB.LIST.NAMESPACE' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="showState['label']">
      {{'ADMIN.KUBERNETES.JOB.LIST.LABEL' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column class="col-version">
    <ng-container *clrDgHideableColumn="showState['containers']">
      {{'ADMIN.KUBERNETES.JOB.LIST.IMAGES' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="showState['status']">
      {{'ADMIN.KUBERNETES.JOB.LIST.STATUS' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'creationTimestamp'">
    <ng-container *clrDgHideableColumn="showState['age']">
      {{'ADMIN.KUBERNETES.JOB.LIST.AGE' | translate}}
    </ng-container>
  </clr-dg-column>


  <clr-dg-row *ngFor="let obj of resources" [clrDgItem]="obj">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="onEditEvent(obj)">{{'ADMIN.KUBERNETES.ACTION.EDIT' | translate}}</button>
      <button class="action-item" (click)="onDeleteEvent(obj)">{{'ADMIN.KUBERNETES.ACTION.DELETE' | translate}}</button>
    </clr-dg-action-overflow>
    <clr-dg-cell class="col-app-name"> {{ obj.metadata.name }} </clr-dg-cell>
    <clr-dg-cell> {{ obj.metadata.namespace }} </clr-dg-cell>
    <clr-dg-cell>
      <div *ngFor="let label of obj.metadata.labels | keyvalue" class="version-text">
        <a href="javascript:" (click)="versionDetail(label.key + ': ' + label.value)">{{label.key}}: {{label.value}}</a>
      </div>
    </clr-dg-cell>
    <clr-dg-cell class="col-version">
      <div *ngFor="let container of obj.spec.template.spec.containers" class="version-text">
        <a href="javascript:" (click)="versionDetail(container.image)">{{container.image}}</a>
      </div>
    </clr-dg-cell>
    <clr-dg-cell>
      {{obj.status.succeeded ? obj.status.succeeded : 0}}/{{ obj.spec.completions ? obj.spec.completions : 1 }}
      <clr-icon style="color: #FF3434" shape="exclamation-triangle" *ngIf="!isReady(obj)"
                class="is-solid"></clr-icon>
      <clr-icon style="color: green" shape="success-standard" *ngIf="isReady(obj)"
                class="is-solid"></clr-icon>
    </clr-dg-cell>
    <clr-dg-cell> {{ obj.metadata.creationTimestamp | relativeTime}} </clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <wayne-paginate
      [(currentPage)]="currentPage"
      [total]="page.totalCount"
      [pageSizes]="[10, 20, 50]"
      (sizeChange)="pageSizeChange($event)">
    </wayne-paginate>
  </clr-dg-footer>
</clr-datagrid>
