<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="table-search">
      <div class="table-search-left">
        <button class="wayne-button normal" (click)="retrieve()">
          刷新
        </button>
        <wayne-filter-box (confirm)="confirmEvent()" (cancel)="cancelEvent()">
          <wayne-checkbox-group [(ngModel)]="showList">
            <wayne-checkbox value="name">名称</wayne-checkbox>
            <wayne-checkbox value="label">Label</wayne-checkbox>
            <wayne-checkbox value="containers">镜像</wayne-checkbox>
            <wayne-checkbox value="status">容器状态</wayne-checkbox>
            <wayne-checkbox value="age">Age</wayne-checkbox>
          </wayne-checkbox-group>
        </wayne-filter-box>
        <label for="namespace_name" class="col-md-3">Kubernetes 命名空间:</label>
        <div class="select" style="display: inline-block;">
          <select id="namespace_name"
                  [(ngModel)]="namespace"
                  name="namespace_name"
                  (change)="retrieve()">
            <option *ngFor="let namespace of namespaces" [ngValue]="namespace.objectMeta.name"
                    [selected]="namespace.objectMeta.name == 'default'">{{namespace.objectMeta.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <kube-list-deployment
      [deployments]="changedDeployments"
      [page]="pageState.page"
      (detail)="detail($event)"
      (migration)="migration($event)"
      [showState]="showState"
      (paginate)="retrieve($event)"></kube-list-deployment>
  </div>
</div>
<kube-migration-deployment></kube-migration-deployment>
<wayne-ace-editor (outputObj)="save($event)"
                  [warningMsg]="'通过 Wayne 管理的资源请不要在此更新，否则可能会导致与 Wayne 模版不一致，再次通过 Wayne 发布时出现异常！'">
</wayne-ace-editor>
<wayne-float-window value="{{cluster}}">
  <wayne-float-window-item *ngFor="let cluster of clusters" [value]="cluster"
                           (click)="jumpTo(cluster)"></wayne-float-window-item>
</wayne-float-window>

