<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
    <div class="clr-row flex-items-xs-between flex-items-xs-top" style="padding-left: 15px; padding-right: 15px;">
      <h2 class="header-title">上线次数统计</h2>
    </div>
    <div class="clr-row flex-items-xs-between" style="margin-left: 5px">
      <label for="startTime" class="time-label">{{'TITLE.START_TIME' | translate}}：</label><input type="date" id="startTime" name="startTime" [(ngModel)]="startTime" clrDate>
      <label for="endTime" class="time-label">{{'TITLE.FINISH_TIME' | translate}}：</label><input type="date" id="endTime" name="endTime" [(ngModel)]="endTime" clrDate>
      <button class="btn" (click)="search()">查询</button>
    </div>
    <clr-datagrid (clrDgRefresh)="refresh($event)">
      <clr-dg-column class="col-id">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          ID
        </ng-container>
      </clr-dg-column>
      <clr-dg-column class="col-time">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          日期
        </ng-container>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">
          上线次数
        </ng-container>
      </clr-dg-column>
      <clr-dg-row *ngFor="let data of datas;let i=index" [clrDgItem]="data">
        <clr-dg-cell class="col-id">{{i}}</clr-dg-cell>
        <clr-dg-cell class="col-time">{{data.date | date:'MM-dd-yyyy'}}</clr-dg-cell>
        <clr-dg-cell>{{data.count}}</clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>
