## OS files
# Mac OS
.DS_Store

## IDE specific files
# IntelliJ
.idea/
*.iml
## VSCode
.vscode/
# Vim temporary files
*.swp

## Local copies of dependencies that should stay on developers' local machines
node_modules/
bower_components/
*.tmp

## Build and test artifacts
.go_workspace/
.sass-cache/
.tmp/
coverage/
dist/
.tools/
vendor/

## Project
.env
src/backend/conf/dev.conf
src/backend/conf/app.conf
_dev/
_build/
_bus/
src/backend/static
src/backend/routers/commentsRouter__*
src/backend/backend
src/backend/lastupdate.tmp
src/backend/views/index.html

## Doc
src/backend/swagger/swagger.json
src/backend/swagger/swagger.yml

## Script
src/frontend/src/app/js-rename.js
/src/backend/openapi.swagger.json
