[submodule "src/backend/plugins"]
	path = src/backend/plugins
	url = https://github.com/Qihoo360/wayne-backend-plugins.git
[submodule "src/frontend/lib"]
	path = src/frontend/lib
	url = https://github.com/Qihoo360/wayne-frontend-plugins.git
