matrix:
  include:
    - language: go
      os:
        - linux
        - osx
      go:
        - 1.12.x
      env:
        - DB_USER=root DB_PASSWD=''  DB_TNS='tcp(127.0.0.1:3306)'
      service:
        - mysql
        - rabbitmq
      before_install:
        - mysql -e 'CREATE DATABASE wayne;'
      script:
        - pwd
        - echo '' >  /home/travis/gopath/src/github.com/Qihoo360/wayne/src/backend/conf/dev.conf
        - cd src/backend && go run main.go -h
    - language: node_js
      os:
        - linux
        - osx
      node_js:
        - 8.9.4
      before_install:
        - cd src/frontend && npm install
      script:
        - # npm run test Wayne 前端测试尚未编排
        - travis_wait 30 npm run build
        - travis_wait 30 npm run lint
