<clr-datagrid (clrDgRefresh)="refresh($event)">
  <clr-dg-column [clrDgField]="'id'" style="width: 160px;">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      ID
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      名称
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'description'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'TITLE.DESCRIPTION' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'user'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      创建者
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgSortBy]="'createTime'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      创建时间
    </ng-container>
  </clr-dg-column>
  <clr-dg-row *ngFor="let ingressTpl of ingressTpls" [clrDgItem]="ingressTpl">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="editIngressTpl(ingressTpl)" >{{'BUTTON.EDIT' | translate}}</button>
      <button class="action-item" (click)="deleteIngressTpl(ingressTpl)">删除</button>
    </clr-dg-action-overflow>
    <clr-dg-cell>{{ingressTpl.id}}</clr-dg-cell>
    <clr-dg-cell class="copy">{{ingressTpl.name}}</clr-dg-cell>
    <clr-dg-cell>{{ingressTpl.description}}</clr-dg-cell>
    <clr-dg-cell>{{ingressTpl.user}}</clr-dg-cell>
    <clr-dg-cell>{{ingressTpl.createTime | date:'yyyy-MM-dd HH:mm'}}</clr-dg-cell>
  </clr-dg-row>


  <clr-dg-footer>
    <wayne-paginate
      [(currentPage)]="currentPage"
      [total]="page.totalCount"
      [pageSizes]="[10, 20, 50]"
      (sizeChange)="pageSizeChange($event)"
    >
    </wayne-paginate>
  </clr-dg-footer>
</clr-datagrid>
