<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
  <a
    clrVerticalNavLink
    [title]="'MENU.APP_OVERVIEW' | translate"
    routerLink="detail"
    routerLinkActive="active"
    *ngIf="authService.currentAppPermission.app.read || authService.currentUser.admin">
    <clr-icon clrVerticalNavIcon shape="help-info"></clr-icon>
    {{'MENU.APP_OVERVIEW' | translate}}
  </a>
  <div class="nav-divider"></div>
  <a
    clrVerticalNavLink
    [title]="'MENU.DEPLOYMENT' | translate"
    routerLink="deployment"
    routerLinkActive="active"
    *ngIf="authService.currentAppPermission.deployment.read || authService.currentUser.admin">
    <clr-icon clrVerticalNavIcon shape="event"></clr-icon>
    {{'MENU.DEPLOYMENT' | translate}}
  </a>
  <a
    clrVerticalNavLink
    [title]="'MENU.SERVICE' | translate"
    routerLink="service"
    routerLinkActive="active"
    *ngIf="authService.currentAppPermission.service.read || authService.currentUser.admin">
    <clr-icon clrVerticalNavIcon shape="network-globe"></clr-icon>
    {{'MENU.SERVICE' | translate}}
  </a>
  <div class="nav-divider" *ngIf="authService.currentAppPermission.service.read ||
                                  authService.currentAppPermission.ingress.read ||
                                      authService.currentUser.admin"></div>
  <a
    clrVerticalNavLink
    [title]="'MENU.CONFIGMAP' | translate"
    routerLink="configmap"
    routerLinkActive="active"
    *ngIf="authService.currentAppPermission.configmap.read || authService.currentUser.admin">
    <clr-icon clrVerticalNavIcon shape="file-settings"></clr-icon>
    {{'MENU.CONFIGMAP' | translate}}
  </a>
  <div class="nav-divider" *ngIf="authService.currentAppPermission.configmap.read ||
                                  authService.currentAppPermission.secret.read ||
                                  authService.currentAppPermission.pvc.read ||
                                  authService.currentUser.admin"></div>
  <a
    clrVerticalNavLink
    [title]="'MENU.MEMBER' | translate"
    routerLink="user"
    routerLinkActive="active"
    *ngIf="authService.currentAppPermission.appUser.read || authService.currentUser.admin">
    <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
    {{'MENU.MEMBER' | translate}}
  </a>
  <ng-container *ngFor="let monitor of monitors;let i = index;">
    <a
      clrVerticalNavLink
      [title]="'MENU.VIEW_MONITOR' | translate"
      (click)="goToMonitor(monitor.Url)"
      href="javascript:void(0)"
      *ngIf="authService.currentAppPermission.appUser.read || authService.currentUser.admin">
      <clr-icon clrVerticalNavIcon [attr.shape]="icons[i % icons.length ]"></clr-icon>
      {{monitor.Displayname}}
    </a>
  </ng-container>
  <a href="javascript:;" style="flex: 1;"></a>
  <wayne-footer></wayne-footer>
</clr-vertical-nav>
