<clr-modal [clrModalSize]="'md'" [(clrModalOpen)]="statusOpened">
  <h3 class="modal-title">HPA 详情</h3>
  <div class="modal-body">
    <hr>
    <form>
      <section class="form-block form-box">
        <div class="clr-row group">
          <div class="clr-col-sm-3">
            {{'TITLE.NAME' | translate}}
          </div>
          <div class="clr-col-sm-9">
            {{kubeResource?.metadata.name}}
          </div>
        </div>

        <div class="clr-row group">
          <div class="clr-col-sm-3">
            Reference
          </div>
          <div class="clr-col-sm-9">
            {{kubeResource?.spec.scaleTargetRef.kind}}/{{kubeResource?.spec.scaleTargetRef.name}}
          </div>
        </div>

        <div class="clr-row group">
          <div class="clr-col-sm-3">
            {{'TITLE.COPY_INTERVAL' | translate}}
          </div>
          <div class="clr-col-sm-9">
            {{kubeResource?.spec.minReplicas}} ~ {{kubeResource?.spec.maxReplicas}}
          </div>
        </div>

        <div class="clr-row group">
          <div class="clr-col-sm-3">
            {{'TEMPLATE.CPU_THRESHOLD' | translate}}
          </div>
          <div class="clr-col-sm-9">
            {{kubeResource?.spec.targetCPUUtilizationPercentage}} %
          </div>
        </div>
      </section>
    </form>
  </div>

