<clr-modal [(clrModalOpen)]="modalOpened" [clrModalSize]="'lg'">
  <h3 class="modal-title">{{title}}</h3>
  <div class="modal-body">
    <form #ngForm="ngForm">

      <section class="form-block">
        <div class="form-group" style="padding-left: 135px;">
          <label for="app_id" class="clr-col-md-3 form-group-label-override required">{{'DAEMONSET_ADMIN.CREATE.APP' | translate}}</label>
          <div class="select form-control">
            <select id="app_id" [(ngModel)]="daemonset.appId" [disabled]="actionType==1" name="app_id">
              <option *ngFor="let app of apps" [ngValue]="app.id" [selected]="app.id === daemonset.appId">{{app.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group" style="padding-left: 135px;">
          <label for="daemonset_name"
                 class="clr-col-md-3 form-group-label-override required">{{'TITLE.NAME' | translate}}</label>
          <label for="daemonset_name" aria-haspopup="true" role="tooltip" [class.invalid]="!isNameValid"
                 class="tooltip tooltip-validation tooltip-md tooltip-bottom-left form-control">
            <input class="form-control" type="text" id="daemonset_name" [(ngModel)]="daemonset.name"
                   name="daemonset_name" size="64"
                   required
                   [readonly]="actionType==1"
                   pattern="[a-z]([-a-z0-9]*[a-z0-9])?"
                   maxlength="64"
                   (keyup)='handleValidation()'>
            <span class="tooltip-content">
              {{'DAEMONSET_ADMIN.CREATE.RULE' | translate}}[a-z]([-a-z0-9]*[a-z0-9])?
            </span>
          </label>
          <span class="spinner spinner-inline" [hidden]="!checkOnGoing"></span>
        </div>
        <div class="form-group" style="padding-left: 135px;">
          <label for="daemonset_metadata" class="clr-col-md-3 form-group-label-override">{{'DAEMONSET_ADMIN.CREATE.METADATA' | translate}}</label>
          <wayne-ace-editor-box></wayne-ace-editor-box>

        </div>
        <div class="form-group" style="padding-left: 135px;">
          <label for="daemonset_description"
                 class="clr-col-md-3 form-group-label-override">{{'TITLE.DESCRIPTION' | translate}}</label>
          <textarea id="daemonset_description" [(ngModel)]="daemonset.description" name="daemonset_description"
                    rows="3">
          </textarea>

        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onCancel()">{{'BUTTON.CANCEL' | translate}}</button>
    <button type="button" class="btn btn-primary" [disabled]="!isValid"
            (click)="onSubmit()">{{'BUTTON.SUBMIT' | translate}}</button>
  </div>
</clr-modal>
