<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
    <div class="clr-row flex-items-xs-between flex-items-xs-top" style="padding-left: 15px; padding-right: 15px;">
      <h2 class="header-title">{{'USER.APP_USER_LIST' | translate}}</h2>
    </div>
    <create-edit-app-user (create)="createAppUser($event)"></create-edit-app-user>
    <div class="table-search">
      <div class="table-search-left">
        <button
          *ngIf="authService.currentNamespacePermission.appUser.create || authService.currentAppPermission.appUser.create || authService.currentUser.admin"
          class="wayne-button normal" (click)="openModal()">
          {{'USER.CONNECT_APP_USER' | translate}}
        </button>
        <wayne-filter-box (confirm)="confirmEvent()" (cancel)="cancelEvent()">
          <wayne-checkbox-group [(ngModel)]="showList">
            <wayne-checkbox value="user_name">{{'USER.NAME' | translate}}</wayne-checkbox>
            <wayne-checkbox value="app_name">{{'USER.APP_NAME' | translate}}</wayne-checkbox>
            <wayne-checkbox value="group">{{'USER.GROUP' | translate}}</wayne-checkbox>
            <wayne-checkbox value="create_time">{{'TITLE.CREATE_TIME' | translate}}</wayne-checkbox>
            <wayne-checkbox value="action">{{'TITLE.ACTION' | translate}}</wayne-checkbox>
          </wayne-checkbox-group>
        </wayne-filter-box>
      </div>
    </div>
    <list-app-user
      [appUsers]="changedAppUsers"
      [listType]="listType"
      (delete)="deleteAppUser($event)"
      (edit)="editAppUser($event)"
      (paginate)="retrieve($event)"
      [page]="pageState.page"
      [showState]="showState"
    ></list-app-user>
  </div>
</div>
