<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
    <div class="clr-row flex-items-xs-between flex-items-xs-top" style="padding-left: 15px; padding-right: 15px;">
      <h2 class="header-title">命名空间列表</h2>
    </div>
    <div class="clr-row flex-items-xs-between" style="height:32px;">
      <div class="option-left">
        <button class="btn btn-link" (click)="openModal()">
          <clr-icon shape="add"></clr-icon>
          创建命名空间
        </button>
        <!-- <button class="btn btn-link" (click)="initDefault()"><clr-icon shape="add"></clr-icon>初始化默认命名空间</button> -->
        <create-edit-namespace (create)="createNamespace($event)"></create-edit-namespace>
        <migrate-namespace></migrate-namespace>
      </div>
    </div>
    <list-namespace [namespaces]="changedNamespaces" (delete)="deleteNamespace($event)" (edit)="editNamespace($event)"
                (migrate)="migrateNamespace($event)" (paginate)="retrieve($event)" [page]="pageState.page"></list-namespace>
  </div>
</div>
