:host {
  display: inline-block;
  position: relative;

  .filter-box {
    width: 197px;
    padding: 15px;
    position: absolute;
    right: -200px;
    top: -12px;
    z-index: 520;
    filter: drop-shadow(1px 2px 4px #ccc);

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -8px;
      transform: rotateZ(45deg);
      top: 16px;
      width: 16px;
      height: 16px;
      background: #fff;
      z-index: 1;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      transform: rotateZ(45deg);
      top: 16px;
      left: -6px;
      width: 18px;
      height: 18px;
      background: #fff;
      z-index: 2;
    }

    .filter-header {
      font-size: 16px;
      color: #222222;
      letter-spacing: 0.67px;
      line-height: 20px;
      height: 20px;
      text-align: left;
    }

    .filter-body {
      padding: 10px 0 10px 15px;
    }

    .filter-footer {
      margin-left: 15px;
    }
  }
}
