<clr-datagrid (clrDgRefresh)="refresh($event)">
  <clr-dg-column [clrDgField]="'id'" class="col-query-id">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      ID
    </ng-container>
  </clr-dg-column>
  <clr-dg-column class="col-app-name" [clrDgField]="'name'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
     {{'TITLE.NAME' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'app.name'" class="col-namespace">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'TITLE.BELONG_APP' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column class="col-metadata">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'TITLE.METADATA' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'TITLE.DESCRIPTION' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'user'">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'TITLE.CREATE_USER' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgSortBy]="'createTime'" class="col-user">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'TITLE.CREATE_TIME' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-row *ngFor="let deployment of deployments" [clrDgItem]="deployment">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="editDeployment(deployment)">{{'BUTTON.EDIT' | translate}}</button>
      <button class="action-item" (click)="deleteDeployment(deployment)">{{'BUTTON.DELETE' | translate}}</button>
    </clr-dg-action-overflow>
    <clr-dg-cell class="col-query-id">{{deployment.id}}</clr-dg-cell>
    <clr-dg-cell class="col-app-name"><a href="javascript:void(0)"
                                         (click)="goToLink(deployment, 'tpl')">{{deployment.name}}</a></clr-dg-cell>
    <clr-dg-cell class="col-namespace"><a href="javascript:void(0)"
                                          (click)="goToLink(deployment, 'app')">{{deployment.app.name}}</a>
    </clr-dg-cell>
    <clr-dg-cell class="col-metadata">
      <div class="text-overflow">
        <a href="javascript:;" (click)="detailMetaDataTpl(deployment.metaData)">{{deployment.metaData}}</a>
      </div>
    </clr-dg-cell>
    <clr-dg-cell>{{deployment.description}}</clr-dg-cell>
    <clr-dg-cell>{{deployment.user}}</clr-dg-cell>
    <clr-dg-cell class="col-time">{{deployment.createTime | date:'yyyy-MM-dd HH:mm'}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <wayne-paginate
      [(currentPage)]="currentPage"
      [total]="page.totalCount"
      [pageSizes]="[10, 20, 50]"
      (sizeChange)="pageSizeChange($event)"
    >
    </wayne-paginate>
  </clr-dg-footer>
</clr-datagrid>
