<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
    <div class="clr-row flex-items-xs-between flex-items-xs-top" style="padding-left: 15px; padding-right: 15px;">
      <h2 class="header-title">已删除集群列表</h2>
    </div>
    <clr-datagrid (clrDgRefresh)="refresh($event)">
      <clr-dg-column class="col-id">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          ID
        </ng-container>
      </clr-dg-column>
      <clr-dg-column class="col-cluster-name" class="col-app-name">
        <ng-container *clrDgHideableColumn="{hidden: false}">
         {{'TITLE.NAME' | translate}}
        </ng-container>
      </clr-dg-column>
      <clr-dg-column class="col-cluster-name">
        <ng-container *clrDgHideableColumn="{hidden: false}">
         displayname
        </ng-container>
      </clr-dg-column>
      <clr-dg-column class="col-host">
        <ng-container *clrDgHideableColumn="{hidden: false}">
          Master
        </ng-container>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">
          {{'TITLE.DESCRIPTION' | translate}}
        </ng-container>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">
          {{'TITLE.CREATE_USER' | translate}}
        </ng-container>
      </clr-dg-column>
      <clr-dg-column>
        <ng-container *clrDgHideableColumn="{hidden: false}">
          {{'TITLE.CREATE_TIME' | translate}}
        </ng-container>
      </clr-dg-column>
      <clr-dg-row *ngFor="let cluster of clusters" [clrDgItem]="cluster">
        <clr-dg-action-overflow>
          <button class="action-item" (click)="recoverCluster(cluster)">{{'BUTTON.RESTORE' | translate}}</button>
          <button class="action-item" (click)="deleteCluster(cluster)">{{'BUTTON.DELETE_PERMANENTLY' | translate}}</button>
        </clr-dg-action-overflow>
        <clr-dg-cell class="col-id">{{cluster.id}}</clr-dg-cell>
        <clr-dg-cell class="col-app-name copy">{{cluster.name}}</clr-dg-cell>
        <clr-dg-cell class="col-cluster-name copy">{{cluster.displayname}}</clr-dg-cell>
        <clr-dg-cell class="col-host">{{cluster.master}}</clr-dg-cell>
        <clr-dg-cell>{{cluster.description}}</clr-dg-cell>
        <clr-dg-cell>{{cluster.user}}</clr-dg-cell>
        <clr-dg-cell>{{cluster.createTime | date:'yyyy-MM-dd HH:mm'}}</clr-dg-cell>
      </clr-dg-row>

      <clr-dg-footer>
        <wayne-paginate
          [(currentPage)]="currentPage"
          [total]="pageState.page.totalCount"
          [pageSizes]="[10, 20, 50]"
          (sizeChange)="pageSizeChange($event)"
        >
        </wayne-paginate>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>


