<clr-datagrid>
  <clr-dg-column [clrDgField]="'name'">
    <ng-container *clrDgHideableColumn="showState['名称']">
      名称
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'status'">
    <ng-container *clrDgHideableColumn="showState['状态']">
      状态
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'createTime'">
    <ng-container *clrDgHideableColumn="showState['创建时间']">
      创建时间
    </ng-container>
  </clr-dg-column>


  <clr-dg-row *ngFor="let namespace of resources" [clrDgItem]="namespace">
    <clr-dg-action-overflow>
    </clr-dg-action-overflow>
    <clr-dg-cell> {{namespace.objectMeta.name}} </clr-dg-cell>
    <clr-dg-cell> {{ namespace.status }} </clr-dg-cell>
    <clr-dg-cell> {{namespace.objectMeta.creationTimestamp | relativeTime}} </clr-dg-cell>
    </clr-dg-row>
</clr-datagrid>
