<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
    <div class="clr-row flex-items-xs-between flex-items-xs-top" style="padding-left: 15px; padding-right: 15px;">
      <h2 class="header-title">状态副本集模版列表</h2>
    </div>
    <div class="clr-row flex-items-xs-between" style="height:32px;">
      <div class="option-left">
        <button class="btn btn-link" (click)="openModal()">
          <clr-icon shape="add"></clr-icon>
          创建状态副本集模版
        </button>
        <create-edit-statefulsettpl (create)="createStatefulset($event)"></create-edit-statefulsettpl>
      </div>
    </div>
    <list-statefulsettpl [statefulsetTpls]="changedStatefulsets"
                         (delete)="deleteStatefulset($event)"
                         (edit)="editStatefulset($event)"
                         (paginate)="retrieve($event)"
                         [page]="pageState.page"></list-statefulsettpl>
  </div>
</div>
