<clr-vertical-nav [clrVerticalNavCollapsible]="true">
  <a
  clrVerticalNavLink
  [title]="'SIDE_NAV.DEPARTMENT' | translate"
  routerLink="/portal/namespace/{{cacheService.currentNamespace?.id}}/overview"
  routerLinkActive="active">
  <clr-icon clrVerticalNavIcon shape="help-info"></clr-icon>
  {{'SIDE_NAV.DEPARTMENT' | translate}}
</a>
  <a
  clrVerticalNavLink
  [title]="'SIDE_NAV.PRODUCT' | translate"
  routerLink="/portal/namespace/{{cacheService.currentNamespace?.id}}/app"
  routerLinkActive="active">
  <clr-icon clrVerticalNavIcon shape="applications"></clr-icon>
  {{'SIDE_NAV.PRODUCT' | translate}}
</a>
  <a
  clrVerticalNavLink
  title="APIKeys"
  routerLink="/portal/namespace/{{cacheService.currentNamespace?.id}}/apikey"
  routerLinkActive="active"
  *ngIf="this.authService.config['enableApiKeys'] && (authService.currentNamespacePermission.apiKey.read || authService.currentUser.admin)">
  <clr-icon clrVerticalNavIcon shape="key"></clr-icon>
  APIKeys
</a>
  <a
  clrVerticalNavLink
  title="Webhooks"
  routerLink="/portal/namespace/{{cacheService.currentNamespace?.id}}/webhook"
  routerLinkActive="active"
  *ngIf="authService.currentNamespacePermission.webHook.read || authService.currentUser.admin">
  <clr-icon clrVerticalNavIcon shape="pin"></clr-icon>
  Webhooks
</a>
  <a
  clrVerticalNavLink
  [title]="'SIDE_NAV.MEMBER' | translate"
  routerLink="/portal/namespace/{{cacheService.currentNamespace?.id}}/users"
  routerLinkActive="active">
  <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
  {{'SIDE_NAV.MEMBER' | translate}}
</a>
<a href="javascript:;" style="flex: 1;"></a>
  <wayne-footer></wayne-footer>
</clr-vertical-nav>
