<button (click)="openModal()" class="wayne-button primary" *ngIf="authService.currentAppPermission.secret.create || authService.currentUser.admin">
  创建加密字典
</button>
<create-edit-secret (create)="createSecret($event)"></create-edit-secret>
<div *ngIf="secretId && secrets?.length>0">
  <wayne-tabs>
    <wayne-tab (click)="tabClick(secret.id)"
                [id]="secret.id"
                *ngFor="let secret of secrets"
                [active]="secret.id==secretId"
                [description]="secret.description"
                >
      {{secret.name}}
    </wayne-tab>
  </wayne-tabs>
  <div class="table-search">
    <div class="table-search-left">
      <button (click)="createSecretTpl()" class="wayne-button normal" *ngIf="authService.currentAppPermission.secret.create || authService.currentUser.admin">
        创建加密字典模版
      </button>
      <button (click)="editSecret()" class="wayne-button normal" *ngIf="authService.currentAppPermission.secret.update || authService.currentUser.admin">
        编辑加密字典
      </button>
      <button (click)="publishHistory()" class="wayne-button normal" *ngIf="authService.currentAppPermission.secret.read || authService.currentUser.admin">
        发布历史
      </button>
      <button (click)="deleteSecret()" class="wayne-button normal" *ngIf="authService.currentAppPermission.secret.offline || authService.currentUser.admin">
        删除加密字典
      </button>
      <wayne-filter-box (confirm)="confirmEvent()" (cancel)="cancelEvent()">
        <wayne-checkbox-group [(ngModel)]="showList">
          <wayne-checkbox>创建时间</wayne-checkbox>
          <wayne-checkbox>配置机房</wayne-checkbox>
          <wayne-checkbox>已上线机房</wayne-checkbox>
          <wayne-checkbox>发布说明</wayne-checkbox>
          <wayne-checkbox>创建者</wayne-checkbox>
          <wayne-checkbox>操作</wayne-checkbox>
        </wayne-checkbox-group>
      </wayne-filter-box>
    </div>
    <div class="table-search-right">
      <div class="toggle-switch">
        <input type="checkbox" id="toggle_1" [(ngModel)]="isOnline" (change)="onlineChange()">
        <label for="toggle_1">只显示上线模板</label>
      </div>
    </div>
  </div>
  <list-secret [secrets]="secrets"
                (cloneTpl)="cloneSecretTpl($event)"
                [secretTpls]="secretTpls"
                (edit)="editSecret($event)"
                (paginate)="retrieve($event)"
                [appId]="appId"
                [showState]="showState"
                [page]="pageState.page"></list-secret>
</div>

