<clr-modal [(clrModalOpen)]="createAppOpened">
  <h3 class="modal-title">{{appTitle}}</h3>
  <div class="modal-body">
    <form #appForm="ngForm">
      <section class="form-block">
        <div class="form-group" style="padding-left: 135px;">
          <label for="app_name" class="clr-col-md-3 form-group-label-override required">{{'TITLE.NAME' | translate}}</label>
          <label for="app_name" aria-haspopup="true" role="tooltip" [class.invalid]="!isNameValid"
                 class="tooltip tooltip-validation tooltip-md tooltip-bottom-left form-control">
            <input class="form-control" type="text" id="app_name" [(ngModel)]="app.name"
                   name="app_name" size="32"
                   required
                   [placeholder]="'PLACEHOLDER.APP_NAME' | translate"
                   [readonly]="actionType==1"
                   pattern="[a-z]([-a-z0-9]*[a-z0-9])?"
                   maxlength="32"
                   (keyup)='handleValidation()'>
            <span class="tooltip-content">
              {{'RULE.REGEXT' | translate}}[a-z]([-a-z0-9]*[a-z0-9])?
            </span>
          </label>
          <span class="spinner spinner-inline" [hidden]="!checkOnGoing"></span>
        </div>
        <div hidden class="form-group" style="padding-left: 135px;">
          <label for="app_metadata" class="clr-col-md-3 form-group-label-override">{{'TITLE.METADATA' | translate}}</label>
          <textarea id="app_metadata" [(ngModel)]="app.metaData"
                    name="app_metadata"
                    rows="3">
          </textarea>

        </div>
        <div class="form-group" style="padding-left: 135px;">
          <label for="app_description"
                 class="clr-col-md-3 form-group-label-override">{{'TITLE.DESCRIPTION' | translate}}</label>
          <textarea id="app_description" [(ngModel)]="app.description"
                    name="app_description"
                    rows="3">
          </textarea>

        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-outline" (click)="onCancel()">{{'BUTTON.CANCEL' | translate}}</button>
          <button type="button" class="btn btn-primary" [disabled]="!isValid"
                  (click)="onSubmit()">{{'BUTTON.CONFIRM' | translate}}</button>
        </div>
      </section>
    </form>
  </div>
</clr-modal>
