.wanye-dropdown {
  .inner {
    & > * {
      display: inline-block;
      color: #fff;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 10px;
      opacity: .7;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  .nowrap .inner > * {
    display: block;
    white-space: nowrap;
  }
}
