// diff2html
.d2h-code-side-linenumber, .d2h-code-linenumber{
  position: static !important;
}
.d2h-code-side-line, .d2h-code-line{
  margin-left: 0px !important;
}
.d2h-tag{
  display: none !important;
}