$main-color: #4a87ee;
ul.pagination-list {
  align-items: center;
}

.pagination-list li {
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;

  &:hover button {
    color: $main-color;
  }
}

.pagination-list .pagination-current {
  background: $main-color;
  border-radius: 2px;
  color: #fff;
}
.pagination-current{
  color: black !important;
}