.table-search {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: -0.4rem;
  justify-content: space-between;

  button {
    margin-right: 15px;
  }

  .table-search-left {
    order: 1;
  }

  .table-search-middle {
    order: 3;
  }

  .table-search-right {
    order: 5;

    .toggle-switch {
      margin-right: 0;
    }
  }
}

.datagrid-table clr-dg-row:nth-child(odd) {
  background: rgba(232, 237, 246, .45);
}

.datagrid-cell {
  word-wrap: break-word;
}

div.datagrid-foot-description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: pre;
}

.col-id {
  width: 100px !important;
}

.column-switch-wrapper {
  display: none;
}

/* 带查询的id */
.col-query-id {
  width: 158px !important;
}

.col-time {
  min-width: 160px !important;
  font-family: Consolas, monospace;
}

.col-cluster {
  width: 140px !important;
}

.col-version {
  max-width: 280px !important;
}

.version-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}

.col-user {
  width: 150px !important;
}

.col-operate {
  min-width: 160px !important;
}

.col-port {
  width: 140px !important;
}

.col-port-range {
  width: 150px !important;
}

.col-key {
  width: 250px !important;
}

.col-email {
  width: 210px !important;
}

.col-name {
  width: 110px !important;
}

.col-identity {
  width: 130px !important;
}

.col-ip {
  width: 125px !important;
}

.col-type {
  width: 130px !important;
}

.col-permission-name {
  width: 240px !important;
}

.col-cluster-name {
  width: 110px !important;
}

.col-host {
  width: 180px !important;
}

.col-metadata {
  max-width: 160px !important;
}

/* 名称 */
.col-app-name {
  min-width: 160px !important;
  max-width: 300px !important;
}

/* 所属空间 */
.col-namespace {
  max-width: 160px !important;
}

.col-description {
  max-width: 200px !important;
}
