.tpl-container {
  padding-left: 30px;
  padding-right: 200px;
}
.tpl-nav {
  position: fixed;right: 0;top: 100px; width: 200px; max-height: calc(100% - 160px);overflow-y: auto;
}
.form-group-padding {
  margin-top: 18px !important;
}
form .form-group label{
  margin-bottom: 0 !important;
}
.container-box {
  margin-top: 20px !important;
}