<div class="box">
  <div class="nodeSummary">
    <h3>Node 使用概况</h3>
    <p>
      <span>预备</span>
      <span>{{node.ready}}</span>
    </p>
    <p>
      <span>可调度</span>
      <span>{{node.schedulable}}</span>
    </p>
    <p>
      <span>总量</span>
      <span>{{node.total}}</span>
    </p>
  </div>
  <echarts-gauge [title]="cpu.title" [data]="cpu.data" [name]="cpu.name" [max]="cpu.max"></echarts-gauge>
  <echarts-gauge [title]="memory.title" [data]="memory.data" [name]="cpu.name" [max]="memory.max"></echarts-gauge>
</div>