.box {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 200px;
  align-items: center;
  & > * {
    transform: scale(.8);
  }
}
:host{
  display: block;
  position: relative;
}
.show-control{
  display: inline-block;
  position: absolute;
  right: 3px;
  top: 5px;
  .rotate{
    transform:  rotateZ(90deg);
  }
}
.nodeSummary{
  display: inline-block;
  width: 250px;
  vertical-align: top;
  h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
  }
  p {
    margin-top: 15px;
    span:nth-child(1) {
      display: inline-block;
      width: 85px;
      padding-left: 5px;
    }
    span:nth-child(2) {
      font-weight: 600;
    }
  }
}