<clr-modal [clrModalSize]="''" [(clrModalOpen)]="modalOpened">
  <h3 class="modal-title">{{title}}</h3>
  <div class="modal-body">
    <form #publishForm="ngForm" clrForm clrLayout="horizontal">
      <section class="form-block">
        <div class="clr-form-control clr-row">
          <label class="clr-control-label required">{{'TITLE.CLUSTER' | translate}}</label>
          <div class="clr-control-container">
            <div class="clr-col-md-10 clr-col-12" *ngFor="let cluster of clusters;let i=index" [class.clr-error]="!replicaValidation(cluster)">
              <div class="clr-input-wrapper">
                <label class="clr-checkbox-wrapper">
                  <input class="clr-checkbox" [(ngModel)]="clusterMetas[cluster].checked" type="checkbox" id="{{i}}-check" name="{{i}}-check">
                  <label for="{{i}}-check">{{cluster}}</label>
                </label>
                <input class="clr-input" style="margin-left: 20px;" [placeholder]="'PLACEHOLDER.STATEFULSET' | translate" [(ngModel)]="clusterMetas[cluster].value" id="{{cluster}}-replica" name="{{cluster}}-replica" type="number">
              </div>
              <span class="clr-subtext" *ngIf="!replicaValidation(cluster)">{{'LIMIT.STATEFULSET' | translate}}{{replicaLimit}}</span>
            </div>
          </div>
        </div>
        <clr-toggle-container *ngIf="actionType==3">
          <label class="pd-r-0">
            {{'ACTION.FORCE_DROP' | translate}}
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
              <clr-icon shape="info-circle" size="16"></clr-icon>
              <span class="tooltip-content">{{'MESSAGE.FORCE_DROP' | translate}}</span>
            </a>
          </label>
          <clr-toggle-wrapper>
            <input [(ngModel)]="forceOffline" clrToggle type="checkbox" name="force-offline">
          </clr-toggle-wrapper>
        </clr-toggle-container>
      </section>
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="onCancel()">{{'BUTTON.CANCEL' | translate}}</button>
      <button type="button" class="btn btn-primary" [disabled]="!isValid"
              (click)="onSubmit()">{{'BUTTON.CONFIRM' | translate}}</button>
    </div>
  </div>

</clr-modal>
