<clr-modal [clrModalSize]="'md'" [(clrModalOpen)]="statusOpened">
  <h3 class="modal-title">Ingress 详情</h3>
  <div class="modal-body">
    <hr>
    <form>
      <section class="form-block form-box">
        <div class="clr-row group">
          <div class="clr-col-sm-3">
            Ingress 名称
          </div>
          <div class="clr-col-sm-9">
            {{kubeResource?.metadata.name}}
          </div>
        </div>
        <div *ngFor="let rule of kubeResource?.spec.rules">
          <div class="clr-row group">
            <div class="clr-col-sm-3">
            域名
          </div>
          <div class="clr-col-sm-9">
            {{rule.host}}
          </div>
        </div>
        <div *ngFor="let path of rule.http.paths" class="clr-row group">
          <div class="clr-col-sm-3">
            代理
          </div>
          <div class="clr-col-sm-6">
            {{path.backend.serviceName}}:{{path.backend.servicePort}}
          </div>
          <div class="clr-col-sm-3">
            {{path.path}}
          </div>
        </div>
        </div>
      </section>
    </form>
  </div>
</clr-modal>
