<div class="clr-row tpl-container">
  <div class="clr-row flex-items-xs-between flex-items-xs-top" style="padding-left: 15px; padding-right: 15px;">
    <h3 class="header-title" id="create-template">
      {{'STATEFULSET.CREATE_TMP' | translate}}
    </h3>
  </div>
  <div class="tpl-nav">
    <wayne-navigation container=".content-area" [node]="naviList"></wayne-navigation>
  </div>
  <form #ngForm="ngForm" clrForm clrLayout="horizontal">
    <wayne-collapse>
      <label class="label-level1" id="release-message">
        {{'TEMPLATE.RELEASE_MESSAGE' | translate}}
      </label>
      <clr-textarea-container>
        <label class="required">{{'TEMPLATE.RELEASE_EXPLAIN' | translate}}</label>
        <textarea clrTextarea name="deployment_description" [(ngModel)]="statefulsetTpl.description" rows="3" style="width: 65%"
          required>
              </textarea>
        <clr-control-error>description is required</clr-control-error>
      </clr-textarea-container>
    </wayne-collapse>
    <wayne-collapse>
      <label class="label-level1" id="update-strategy">{{'TEMPLATE.UPDATE_STRATEGY' | translate}}</label>
      <clr-radio-container clrInline>
        <label class="required">{{'TEMPLATE.UPDATE_WAY' | translate}}</label>
        <clr-radio-wrapper>
          <input type="radio" clrRadio name="statefulSetStrategyType" id="statefulSetStrategyType1" value="OnDelete"
            [(ngModel)]="kubeResource.spec.updateStrategy.type" checked>
          <label for="statefulSetStrategyType1">{{'TEMPLATE.DELETE_UPDATE' | translate}}</label>
        </clr-radio-wrapper>
        <clr-radio-wrapper>
          <input type="radio" clrRadio name="statefulSetStrategyType" id="statefulSetStrategyType2" value="RollingUpdate"
            [(ngModel)]="kubeResource.spec.updateStrategy.type">
          <label for="statefulSetStrategyType2">{{'TEMPLATE.SCROLL_UPDATE' | translate}}</label>
        </clr-radio-wrapper>
      </clr-radio-container>
    </wayne-collapse>
    <wayne-collapse *ngFor="let container of kubeResource.spec.template.spec.containers; let i = index">
      <label class="label-level1" [id]="i ? 'container-config' + i : 'container-config'">{{'TEMPLATE.CONTAINER_CONFIG' | translate}}
        <clr-icon (click)="onDeleteContainer(i)" shape="trash" [title]="'TEMPLATE.DELETE_CONTAINER' | translate"
                  class="is-solid"></clr-icon>
      </label>
      <div class="container-box">
        <label class="label-level2" [id]="i ? 'image-config' + i : 'image-config'">{{'TEMPLATE.IMAGE_CONFIG' | translate}}</label>
        <clr-input-container>
          <label class="required">{{'TEMPLATE.CONTAINER_NAME' | translate}}</label>
          <input type="text" clrInput size="60" required name="container.name_{{i}}" pattern="[a-z]([-a-z0-9]*[a-z0-9])?"
            [(ngModel)]="container.name" [placeholder]="'RULE.CONTAINER' | translate" (input)="containerNameChange()"
            (compositionend)="containerNameChange()">
          <clr-control-error>{{'RULE.REGEXT' | translate}}[a-z]([-a-z0-9]*[a-z0-9])?</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label class="required">{{'TEMPLATE.IMAGE_ADDRESS' | translate}}</label>
          <input type="text" clrInput size="60" name="container.image_{{i}}" required pattern="{{getImagePrefixReg()}}"
            [(ngModel)]="container.image" [placeholder]="'TEMPLATE.IMAGE_ADDRESS' | translate">
          <clr-control-error>{{'RULE.REGEXT' | translate}}{{getImagePrefixReg()}}</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label class="required">{{'TEMPLATE.MEMORY_NUM' | translate}}</label>
          <input type="number" clrInput style="width:inherit" name="container.resources.limits.memory_{{i}}" required
            [(ngModel)]="container.resources.limits.memory" size="60" [placeholder]="'UNIT.MEMORY' | translate">
          <clr-control-helper>
            <ng-container *ngIf="!!checkMemory(container.resources.limits.memory)">
              price: {{container.resources.limits.memory * memoryUnitPrice | number:'1.2-2'}}{{'UNIT.PRICE' |
              translate}}
            </ng-container>
            <span class="clr-error clr-subtext" [translate]="'RULE.MEMORY'" [translateParams]="{value: memoryLimit}" *ngIf="!checkMemory(container.resources.limits.memory)"></span>
          </clr-control-helper>
          <clr-control-error>
            <span [translate]="'RULE.MEMORY'" [translateParams]="{value: memoryLimit}"></span>
          </clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label class="required">{{'TEMPLATE.CORE_NUM' | translate}}</label>
          <input type="number" clrInput name="container.resources.limits.cpu_{{i}}" [(ngModel)]="container.resources.limits.cpu"
            style="width:inherit" required [placeholder]="'UNIT.CPU' | translate">
          <clr-control-helper>
            <span *ngIf="!!checkCpu(container.resources.limits.cpu)">
              price: {{container.resources.limits.cpu * cpuUnitPrice | number:'1.2-2'}}{{'UNIT.PRICE' | translate}}
            </span>
            <span *ngIf="!checkCpu(container.resources.limits.cpu)" [translate]="'RULE.CPU'" translateParams="{value: cpuLimit}"
              class="tooltip-content">
            </span>
          </clr-control-helper>
          <clr-control-error>
            <span [translate]="'RULE.CPU'" translateParams="{value: cpuLimit}" class="tooltip-content">
            </span>
          </clr-control-error>
        </clr-input-container>
      </div>
      <div class="container-box" style="margin-left: .5rem;">
        <clr-select-container>
          <label style="color: #007cbb;font-weight: 400;" class="label-level2" [id]="i ? '镜像拉取策略' + i : '镜像拉取策略'">
            镜像拉取策略
          </label>
          <select clrSelect [(ngModel)]="container.imagePullPolicy" name="imagePullPolicy_{{i}}">
            <option value="IfNotPresent">IfNotPresent</option>
            <option value="Always">Always</option>
            <option value="Never">Never</option>
          </select>
        </clr-select-container>
      </div>
      
      <div class="container-box">
        <label class="label-level2" [id]="i ? '启动命令' + i : '启动命令'">启动命令
          <button (click)="onAddContainerCommand(i)" style="margin-left: 10px;" class="wayne-button primary">
            <clr-icon shape="add-text"></clr-icon>
            添加命令
          </button>
        </label>
        <div *ngFor="let cmd of container.command; let k = index; trackBy:trackByFn">
          <input class="clr-input" type="text" size="60" name="command_{{i}}_{{k}}" [(ngModel)]="container.command[k]"
            placeholder="容器 Entrypoint">
          <clr-icon style="float: right;" (click)="onDeleteContainerCommand(i,k)" shape="trash" class="is-solid"></clr-icon>
        </div>
      </div>

      <div class="container-box">
        <label class="label-level2" [id]="i ? '启动参数' + i : '启动参数'">启动参数
          <button (click)="onAddContainerArgs(i)" style="margin-left: 10px;" class="wayne-button primary">
            <clr-icon shape="add-text"></clr-icon>
            添加参数
          </button>
        </label>
        <div *ngFor="let arg of container.args; let l = index; trackBy:trackByFn">
          <input style="margin-top: 10px" type="text" size="60" name="args_{{i}}_{{l}}" [(ngModel)]="container.args[l]" class="clr-input"
            placeholder="容器 CMD">
          <clr-icon style="margin-top: 5px;margin-left: 5px;" (click)="onDeleteContainerArg(i,l)" shape="trash" class="is-solid"></clr-icon>
        </div>
      </div>

      <wayne-collapse disabled="true" style="margin-left: -28px;margin-bottom: 0;">
        <label for="a" class="label-level2" [id]="i ? 'environment-var' + i : 'environment-var'">{{'TEMPLATE.ENVIRONMENT_VAR' | translate}}
          <button (click)="onAddEnvFrom(i, $event)" style="margin-left: 10px;" class="wayne-button primary">
            <clr-icon shape="add-text"></clr-icon>
            {{'TEMPLATE.ADD_GROUP' | translate}}</button>
          <button (click)="onAddEnv(i, $event)" style="margin-left: 10px;" class="wayne-button primary">
            <clr-icon shape="add"></clr-icon>
            {{'TEMPLATE.ADD_ONE' | translate}}</button>
        </label>

        <div *ngFor="let envFrom of container.envFrom; let j = index">
          <div class="form-group form-group-padding">
            <label for="envFromType-{{i}}-{{j}}"
                    class="clr-col-md-3 form-group-label-override required">{{'TEMPLATE.ADD_GROUP' | translate}}
              <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md">
                <clr-icon shape="info-circle" size="24"></clr-icon>
                <span class="tooltip-content">{{'TEMPLATE.LOAD_GROUP_MESSAGE' | translate}}</span>
              </a>
            </label>
            <div class="clr-select-wrapper">
              <select id="envFromType-{{i}}-{{j}}" name="envFrom.type_{{i}}_{{j}}" (change)="envFromChange($event.target.value,i,j)"
                class="clr-select">
                <option value="1" [selected]="envFrom.configMapRef">{{'TEMPLATE.LOAD_CONFIGMAP' | translate}}</option>
                <option value="2" [selected]="envFrom.secretRef">{{'TEMPLATE.LOAD_SECRET' | translate}}</option>
              </select>
            </div>
            <clr-icon style="margin-top: 10px;margin-right: 8px" (click)="onAddEnvFrom(i, $event)" shape="plus-circle"
                      [title]="'TEMPLATE.ADD_ENVIRONMENT' | translate" class="is-solid"></clr-icon>
            <clr-icon style="margin-top: 10px" (click)="onDeleteEnvFrom(i,j)" shape="trash"
                      [title]="'TEMPLATE.DELETE_ENVIRONMENT' | translate" class="is-solid"></clr-icon>
          </div>
          <clr-input-container *ngIf="envFrom">
            <input type="text" clrInput size="40" name="envFrom.prefix_{{i}}_{{j}}" [(ngModel)]="envFrom.prefix" [placeholder]="'PLACEHOLDER.ENVIRONMENT' | translate">
          </clr-input-container>
          <clr-input-container *ngIf="envFrom && envFrom.configMapRef">
            <input type="text" clrInput size="40" required name="envFrom.configMapRef.name_{{i}}_{{j}}" [(ngModel)]="envFrom.configMapRef.name"
              [placeholder]="'TEMPLATE.CONFIGMAP_NAME' | translate">
          </clr-input-container>
          <clr-input-container *ngIf="envFrom && envFrom.secretRef">
            <input type="text" clrInput size="40" required name="envFrom.secretRef.name_{{i}}_{{j}}" [(ngModel)]="envFrom.secretRef.name"
              [placeholder]="'TEMPLATE.SECRET_NAME' | translate">
          </clr-input-container>
        </div>

        <div *ngFor="let env of container.env; let j = index">
          <div class="form-group form-group-padding">
            <label for="envType-{{i}}-{{j}}"
                    class="clr-col-md-3 form-group-label-override required">{{'TEMPLATE.ADD_ONE' | translate}}
              <a role="tooltip" aria-haspopup="true" class="tooltip tooltipd-md">
                <clr-icon shape="info-circle" size="24"></clr-icon>
                <span class="tooltip-content">{{'TEMPLATE.SUPPORT_ENVIRONMENT_MESSAGE' | translate}}</span>
              </a>
            </label>
            <div class="clr-select-wrapper">
              <select id="envType-{{i}}-{{j}}" name="env.type_{{i}}_{{j}}" (change)="envChange($event.target.value,i,j)" class="clr-select">
                <option value="0" [selected]="env.value!=null">{{'TEMPLATE.LOAD_ENVIRONMENT' | translate}}</option>
                <option value="1" [selected]="env.valueFrom?.configMapKeyRef">{{'TEMPLATE.LOAD_CONFIGMAP' | translate}}</option>
                <option value="2" [selected]="env.valueFrom?.secretKeyRef">{{'TEMPLATE.LOAD_SECRET' | translate}}</option>
                <option value="3" selected>{{'OTHER' | translate}}</option>
              </select>
            </div>
            <clr-icon style="margin-top: 10px;margin-right: 8px" (click)="onAddEnv(i, $event)" shape="plus-circle"
                      [title]="'TEMPLATE.ADD_ENVIRONMENT' | translate" class="is-solid"></clr-icon>
            <clr-icon style="margin-top: 10px" (click)="onDeleteEnv(i,j)" shape="trash"
                      [title]="'TEMPLATE.DELETE_ENVIRONMENT' | translate" class="is-solid"></clr-icon>
          </div>
          <clr-input-container>
            <input type="text" clrInput [(ngModel)]="env.name" required name="env.name_{{i}}_{{j}}" size="40" [placeholder]="'TEMPLATE.ENVIRONMENT_NAME' | translate">
          </clr-input-container>
          <clr-input-container *ngIf="env.value != null">
            <input type="text" clrInput [(ngModel)]="env.value" required name="env.value_{{i}}_{{j}}" size="40" [placeholder]="'TEMPLATE.ENVIRONMENT_NUM' | translate">
          </clr-input-container>
          <ng-container *ngIf="env.valueFrom && env.valueFrom.configMapKeyRef">
            <clr-input-container>
              <input type="text" clrInput size="40" required name="env.valueFrom.configMapKeyRef.name_{{i}}_{{j}}" [(ngModel)]="env.valueFrom.configMapKeyRef.name"
                [placeholder]="'TEMPLATE.CONFIGMAP_NAME' | translate">
            </clr-input-container>
            <clr-input-container>
              <input type="text" clrInput size="40" required name="env.valueFrom.configMapKeyRef.key_{{i}}_{{j}}" [(ngModel)]="env.valueFrom.configMapKeyRef.key"
                [placeholder]="'TEMPLATE.CONFIGMAP_KEY' | translate">
            </clr-input-container>
          </ng-container>
          <ng-container *ngIf="env.valueFrom && env.valueFrom.secretKeyRef">
            <clr-input-container>
              <input type="text" clrInput size="40" required name="env.valueFrom.secretKeyRef.name_{{i}}_{{j}}" [(ngModel)]="env.valueFrom.secretKeyRef.name"
                [placeholder]="'TEMPLATE.SECRET_NAME' | translate">
            </clr-input-container>
            <clr-input-container>
              <input type="text" clrInput size="40" required name="env.valueFrom.secretKeyRef.key_{{i}}_{{j}}" [(ngModel)]="env.valueFrom.secretKeyRef.key"
                [placeholder]="'TEMPLATE.SECRET_KEY' | translate">
            </clr-input-container>
          </ng-container>
        </div>
      </wayne-collapse>

      <div>
        <div class="clr-toggle-wrapper">
          <input type="checkbox" [checked]="container.readinessProbe" class="clr-toggle" (change)="readinessProbeChange(i)" id="readinessProbe{{i}}">
          <label class="label-level2" [id]="i ? 'readiness-check' + i : 'readiness-check'" for="readinessProbe{{i}}">{{'TEMPLATE.READINESS_CHECK'
            | translate}}
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
              <clr-icon shape="info-circle" size="24"></clr-icon>
              <span class="tooltip-content">{{'TEMPLATE.READINESS_MESSAGE' | translate}}</span>
            </a>
          </label>
        </div>
        <div *ngIf="container.readinessProbe" style="color:#000">
          <div class="form-inline">
            <clr-input-container>
              <label>{{'TEMPLATE.EXTEND_TIME' | translate}}
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                  <clr-icon shape="info-circle" size="24"></clr-icon>
                  <span class="tooltip-content">{{'TEMPLATE.EXTEND_TIME_MESSAGE' | translate}}</span>
                </a>
              </label>
              <input type="number" clrInput required name="container.readinessProbe.timeoutSeconds_{{i}}" [(ngModel)]="container.readinessProbe.timeoutSeconds"
                [placeholder]="'PLACEHOLDER.SECOND' | translate">
            </clr-input-container>
            <clr-input-container>
              <label>{{'TEMPLATE.CHECK_CYCLE' | translate}}
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                  <clr-icon shape="info-circle" size="24"></clr-icon>
                  <span class="tooltip-content">{{'TEMPLATE.CHECK_CYCLE_MESSAGE' | translate}}</span>
                </a>
              </label>
              <input type="number" clrInput required name="container.readinessProbe.periodSeconds{{i}}" [(ngModel)]="container.readinessProbe.periodSeconds"
                [placeholder]="'PLACEHOLDER.SECOND' | translate">
            </clr-input-container>
          </div>
          <div class="form-inline">
            <clr-input-container>
              <label>{{'TEMPLATE.FAIL_NUM' | translate}}</label>
              <input type="number" clrInput required name="container.readinessProbe.failureThreshold{{i}}" [(ngModel)]="container.readinessProbe.failureThreshold">
            </clr-input-container>
            <clr-input-container>
              <label>{{'TEMPLATE.CHECK_DELAY' | translate}}
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md">
                  <clr-icon shape="info-circle" size="24"></clr-icon>
                  <span class="tooltip-content">{{'TEMPLATE.CHECK_DELAY_MESSAGE' | translate}}</span>
                </a>
              </label>
              <input type="number" clrInput name="container.readinessProbe.initialDelaySeconds{{i}}" [(ngModel)]="container.readinessProbe.initialDelaySeconds"
                [placeholder]="'PLACEHOLDER.SECOND' | translate">
            </clr-input-container>
          </div>
          <clr-select-container>
            <label class="required">{{'TEMPLATE.READINESS_CHECK_WAY' | translate}}</label>
            <select clrSelect name="readinessProbeType_{{i}}" (change)="readinessProbeTypeChange($event.target.value,i)">
              <option value="0" [selected]="container.readinessProbe.httpGet">{{'TEMPLATE.HTTP_REQUEST' | translate}}</option>
              <option value="1" [selected]="container.readinessProbe.tcpSocket">{{'TEMPLATE.TCP_PORT' | translate}}</option>
              <option value="2" [selected]="container.readinessProbe.exec">{{'TEMPLATE.EXECUTE_COMMAND' | translate}}</option>
            </select>
          </clr-select-container>
          <ng-container *ngIf="container.readinessProbe.httpGet">
            <clr-input-container>
              <input type="number" clrInput size="30" required name="container.readinessProbe.httpGet.port_{{i}}" [(ngModel)]="container.readinessProbe.httpGet.port"
                [placeholder]="'TEMPLATE.REQUEST_HTTP_PORT' | translate">
            </clr-input-container>
            <clr-input-container>
              <input type="text" clrInput size="70" required name="container.readinessProbe.httpGet.path_{{i}}" [(ngModel)]="container.readinessProbe.httpGet.path"
                [placeholder]="'TEMPLATE.REQUEST_URL' | translate">
            </clr-input-container>
          </ng-container>
          <clr-input-container *ngIf="container.readinessProbe.tcpSocket">
            <input type="number" clrInput size="30" required name="container.readinessProbe.tcpSocket.port_{{i}}" [(ngModel)]="container.readinessProbe.tcpSocket.port"
              [placeholder]="'TEMPLATE.REQUEST_TCP_PORT' | translate">
          </clr-input-container>
          <clr-textarea-container *ngIf="container.readinessProbe.exec">
            <textarea clrTextarea name="container.readinessProbe.exec.command_{{i}}" [(ngModel)]="container.readinessProbe.exec.command[0]"
              [placeholder]="'PLACEHOLDER.COMMAND' | translate"></textarea>
          </clr-textarea-container>
        </div>
      </div>

      <div class="container-box">
        <div class="clr-toggle-wrapper">
          <input type="checkbox" class="clr-toggle" [checked]="container.livenessProbe" (change)="livenessProbeChange(i)" id="livenessProbe{{i}}">
          <label class="label-level2" [id]="i ? 'liveness-check' + i : 'liveness-check'" for="livenessProbe{{i}}">{{'TEMPLATE.LIVENESS_PROBE_CHECK'
            | translate}}
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
              <clr-icon shape="info-circle" size="24"></clr-icon>
              <span class="tooltip-content">{{'TEMPLATE.LIVENESS_PROBE_CHECK_MESSAGE' | translate}}</span>
            </a>
          </label>
        </div>
        <div *ngIf="container.livenessProbe" style="color:#000">
          <div class="form-inline">
            <clr-input-container>
              <label>
                {{'TEMPLATE.EXTEND_TIME' | translate}}
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                  <clr-icon shape="info-circle" size="24"></clr-icon>
                  <span class="tooltip-content">{{'MESSAGE_EXTEND_TIME' | translate}}</span>
                </a>
              </label>
              <input type="number" clrInput required name="container.livenessProbe.timeoutSeconds_{{i}}" [(ngModel)]="container.livenessProbe.timeoutSeconds"
                [placeholder]="'PLACEHOLDER.SECOND' | translate">
            </clr-input-container>
            <clr-input-container>
              <label>{{'TEMPLATE.CHECK_CYCLE' | translate}}
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                  <clr-icon shape="info-circle" size="24"></clr-icon>
                  <span class="tooltip-content">{{'TEMPLATE.CHECK_CYCLE_MESSAGE' | translate}}</span>
                </a>
              </label>
              <input type="number" clrInput required name="container.livenessProbe.periodSeconds{{i}}" [(ngModel)]="container.livenessProbe.periodSeconds"
                [placeholder]="'PLACEHOLDER.SECOND' | translate">
            </clr-input-container>
          </div>
          <div class="form-inline">
            <clr-input-container>
              <label>{{'TEMPLATE.FAIL_NUM' | translate}}</label>
              <input type="number" clrInput required name="container.livenessProbe.failureThreshold{{i}}" [(ngModel)]="container.livenessProbe.failureThreshold">
            </clr-input-container>
            <clr-input-container>
              <label>{{'TEMPLATE.CHECK_DELAY' | translate}}
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md">
                  <clr-icon shape="info-circle" size="24"></clr-icon>
                  <span class="tooltip-content">{{'TEMPLATE.CHECK_DELAY_MESSAGE' | translate}}</span>
                </a>
              </label>
              <input type="number" clrInput name="container.livenessProbe.initialDelaySeconds{{i}}" [(ngModel)]="container.livenessProbe.initialDelaySeconds"
                [placeholder]="'PLACEHOLDER.SECOND' | translate">
            </clr-input-container>
          </div>
          <clr-select-container>
            <label class="required">{{'TEMPLATE.READINESS_CHECK_WAY' | translate}}</label>
            <select clrSelect name="livenessProbeType_{{i}}" (change)="livenessProbeTypeChange($event.target.value,i)">
              <option value="0" [selected]="container.livenessProbe.httpGet">{{'TEMPLATE.HTTP_REQUEST' | translate}}</option>
              <option value="1" [selected]="container.livenessProbe.tcpSocket">{{'TEMPLATE.TCP_PORT' | translate}}</option>
              <option value="2" [selected]="container.livenessProbe.exec">{{'TEMPLATE.EXECUTE_COMMAND' | translate}}</option>
            </select>
          </clr-select-container>
        
          <ng-container *ngIf="container.livenessProbe.httpGet">
            <clr-input-container>
              <input type="number" clrInput size="30" required name="container.livenessProbe.httpGet.port_{{i}}" [(ngModel)]="container.livenessProbe.httpGet.port"
                [placeholder]="'TEMPLATE.REQUEST_HTTP_PORT' | translate">
            </clr-input-container>
            <clr-input-container>
              <input type="text" clrInput size="70" required name="container.livenessProbe.httpGet.path_{{i}}" [(ngModel)]="container.livenessProbe.httpGet.path"
                [placeholder]="'TEMPLATE.REQUEST_URL' | translate">
            </clr-input-container>
          </ng-container>
          <clr-input-container *ngIf="container.livenessProbe.tcpSocket">
            <input type="number" clrInput size="30" required name="container.livenessProbe.tcpSocket.port_{{i}}" [(ngModel)]="container.livenessProbe.tcpSocket.port"
              [placeholder]="'TEMPLATE.REQUEST_TCP_PORT' | translate">
          </clr-input-container>
          <clr-textarea-container *ngIf="container.livenessProbe.exec">
            <textarea clrTextarea name="container.livenessProbe.exec.command_{{i}}" [(ngModel)]="container.livenessProbe.exec.command[0]"
              [placeholder]="'PLACEHOLDER.COMMAND' | translate"></textarea>
          </clr-textarea-container>
        </div>
      </div>
    </wayne-collapse>
  </form>
</div>
<div class="clr-wizard-footer-buttons tpl-bottom" [style.top.px]="top">
  <button type="button" class="btn btn-outline" (click)="onCancel()">{{'BUTTON.CANCEL' | translate}}</button>
  <button type="button" class="btn btn-primary"
          (click)="onAddContainer()">{{'BUTTON.ADD_CONTAINER' | translate}}</button>
  <button type="button" class="btn btn-primary" (click)="openModal()">{{'BUTTON.ADVANCED_CONFIG' | translate}}</button>
  <button type="button" class="btn btn-primary" [disabled]="!isValid"
          (click)="onSubmit()">{{'BUTTON.SUBMIT' | translate}}</button>
  <span
    style="color: red">{{'TEMPLATE.PRICE_TOTAL' | translate}}{{totalFee | number:'1.2-2' }}{{'UNIT.PRICE' | translate}}</span>
</div>
<wayne-ace-editor (outputObj)="saveStatefulset($event)"></wayne-ace-editor>
