<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'md'">
  <h3 class="modal-title">重置密码</h3>
  <div class="modal-body">
    <clr-alert *ngIf="alertMsg" [clrAlertType]="'alert-warning'">
      <div class="alert-item">
        <span class="alert-text">
            This is a regular alert.
        </span>
      </div>
    </clr-alert>
    <form #passForm="ngForm"  clrForm clrLayout="horizontal">
      <clr-input-container>
        <label class="required">密码</label>
        <input clrInput type="password" id="password" [(ngModel)]="user.password" name="password" size="36" required maxlength="64">
      </clr-input-container>
      <clr-input-container>
        <label class="required">确认密码</label>
        <input clrInput type="password" id="re_password" [(ngModel)]="user.rePassword" name="re_password" size="36" required
          maxlength="64">
      </clr-input-container>
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="onCancel()">{{'BUTTON.CANCEL' | translate}}</button>
      <button type="button" class="btn btn-primary" [disabled]="!isValid"
              (click)="onSubmit()">{{'BUTTON.SUBMIT' | translate}}</button>
    </div>
  </div>

</clr-modal>
