.statistic-wrapper {
  padding: 4px;
  margin: 4px;
  text-align: right;
  vertical-align: middle;
  height: 30px;
  display: inline-block;
}

.statistic-data {
  font-size: 11px;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
  line-height: 16px;
}

.statistic-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  text-transform: uppercase;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
}

.statistic-unit {
  font-size: 11px;
}

.statistic-column-block {
  display: inline-block;
  text-align: right;
}

.statistic-column-title {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
}

.statistic-column-title-pro {
  top: -10px;
}

.statistic-column-title-repo {
  top: 3px;
}

.statistic-item-divider {
  height: 54px;
  display: inline-block;
  width: 2px;
  background-color: #bdbdbd;
  opacity: 0.55;
  margin-left: 4px;
  margin-right: 12px;
  position: relative;
  top: 3px;
}

.statistic-block {
  display: inline-block;
}

.cluster-box {
  height: 80px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cluster-label {
  @extend .cluster-box;
  padding-right: 15px;

  & > * {
    white-space: nowrap;
    text-align: right;
  }
}

.cluster-item {
  @extend .cluster-box;
  display: inline-flex;

  & > * {
    flex: 1;
    display: flex;
    align-items: center;
  }

  & > span {
    justify-content: center;
    align-items: flex-end;
    line-height: 1;;
  }
}

.cluster-more {
  position: relative;
  width: 20px;
  cursor: pointer;

  & > * {
    position: absolute;
    color: #0077b7;
    bottom: 0;
    right: 0;
    transform: translateY(-50%) rotate(90deg) scaleX(1);
  }

}

.card-show-p {
  margin-top: 0;
  margin-right: 2%;
  width: 100%;
  height: 24px;

  span {
    color: #377aec;
    font-size: 14px;
    float: right;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

.cluster-outline {
  transition: height 200ms;
}
