<div class="row" style="padding-left: 50px; padding-right: 150px;">
  <div class="row flex-items-xs-between flex-items-xs-top" style="padding-left: 15px; padding-right: 15px;">
    <h3 class="header-title" id="创建部署模版">
      {{'ACTION.CREATE' | translate}}{{'MENU.DEPLOYMENT' | translate}}{{'TITLE.TEMPLATE' | translate}}
    </h3>
  </div>
  <div style="position: fixed;right: 0;top: 100px; width: 200px; max-height: calc(100% - 160px);overflow-y: auto;">
    <wayne-navigation container=".content-area" [node]="naviList"></wayne-navigation>
  </div>
  <form #ngForm="ngForm" style="padding-right: 30px;width: 100%">
    <section class="form-block wrap">
      <div>
        <label class="label-level1" id="发布信息">{{'TITLE.RELEASE' | translate}}{{'TITLE.MESSAGE' | translate}}</label>
        <div class="form-group form-group-padding">
          <label class="col-md-3 form-group-label-override required">{{'TITLE.RELEASE' | translate}}{{'TITLE.EXPLAIN' | translate}}</label>
          <textarea name="deployment_description" [(ngModel)]="deploymentTpl.description" rows="3" style="width: 65%" required>
          </textarea>
        </div>
      </div>
    </section>
    <section class="form-block wrap">
      <div>
        <label class="label-level1" id="更新策略">{{'TITLE.UPDATE_STRATEGY' | translate}}</label>
        <div class="form-group form-group-padding">
          <label class="col-md-3 form-group-label-override required">{{'TITLE.UPDATE_WAY' | translate}}</label>
          <div class="radio-inline">
              <input type="radio" name="statefulSetStrategyType" id="statefulSetStrategyType1" value="RollingUpdate" [(ngModel)]="kubeDeployment.spec.strategy.type" checked>
              <label for="statefulSetStrategyType1">{{'TITLE.SCROLL_UPDATE' | translate}}</label>
          </div>
          <div class="radio-inline">
              <input type="radio" name="statefulSetStrategyType" id="statefulSetStrategyType2" value="Recreate"  [(ngModel)]="kubeDeployment.spec.strategy.type">
              <label for="statefulSetStrategyType2">{{'TITLE.REBUILD' | translate}}</label>
          </div>
        </div>
        <div *ngIf="kubeDeployment.spec.strategy.type == 'RollingUpdate'" class="form-group form-group-padding">
          <label class="col-md-3 form-group-label-override">{{'TITLE.SCROLL_NUM' | translate}}
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
              <clr-icon shape="info-circle" size="24"></clr-icon>
              <span class="tooltip-content">{{'RULE.SCROLL' | translate}}</span>
            </a>
          </label>
          <label aria-haspopup="true" role="tooltip" [class.invalid]="formValid('rollingUpdate_maxSurge')" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
          <input type="text" required name="rollingUpdate_maxSurge" pattern="^(100|[1-9]?\d(\.\d\d?\d?)?)%$|[0-9]$" [(ngModel)]="kubeDeployment.spec.strategy.rollingUpdate.maxSurge"
                 [placeholder]="'RULE.NUMBER' | translate">
            <span class="tooltip-content">
                {{'RULE.NUMBER' | translate}}
              </span>
          </label>
          <label class="col-md-3 form-group-label-override"  style="color: #000">{{'TITLE.MAX_LIMIT' | translate}}
            <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
              <clr-icon shape="info-circle" size="24"></clr-icon>
              <span class="tooltip-content">{{'RULE.SCROLL' | translate}}</span>
            </a>
          </label>
        <label aria-haspopup="true" role="tooltip" [class.invalid]="formValid('rollingUpdate_maxUnavailable')" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
          <input type="text" required name="rollingUpdate_maxUnavailable"  [(ngModel)]="kubeDeployment.spec.strategy.rollingUpdate.maxUnavailable"
                 [placeholder]="'RULE.NUMBER' | translate">
          <span class="tooltip-content">
                {{"RULE.NUMBER" | translate}}
          </span>
        </label>
        </div>
      </div>
    </section>
    <section *ngFor="let container of kubeDeployment.spec.template.spec.containers; let i = index" class="form-block wrap">
      <div>
        <label class="label-level1" [id]="i ? '容器配置' + i : '容器配置'">{{'TITLE.CONTAINER_CONFIG' | translate}}
          <clr-icon (click)="onDeleteContainer(i)" shape="trash" title="删除容器" class="is-solid"></clr-icon>
        </label>
        <div class="container-box">
          <label class="label-level2" [id]="i ? '镜像配置' + i : '镜像配置'">{{'TITLE.IMAGE_CONFIG' | translate}}</label>
          <div class="form-group form-group-padding">
            <label class="col-md-3 form-group-label-override required">{{'TITLE.CONTAINER' | translate}}{{'TITLE.NAME' | translate}}</label>
            <label aria-haspopup="true" role="tooltip" [class.invalid]="containerIsInvalid(i,'container.name_')" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
              <input type="text" class="col-sm-12" size="90" required name="container.name_{{i}}" pattern="[a-z]([-a-z0-9]*[a-z0-9])?" [(ngModel)]="container.name" [placeholder]="'RULE.CONTAINER' | translate">
              <span class="tooltip-content">
                {{'RULE.REGEXT' | translate}}[a-z]([-a-z0-9]*[a-z0-9])?
              </span>
            </label>
          </div>
          <div class="form-group form-group-padding">
            <label class="col-md-3 form-group-label-override required">{{'TITLE.IMAGE_ADDRESS' | translate}}</label>
            <label aria-haspopup="true" role="tooltip" [class.invalid]="containerIsInvalid(i,'container.image_')" class="tooltip tooltip-validation tooltip-md tooltip-bottom-left">
              <input type="text" size="90" class="col-sm-12" name="container.image_{{i}}" required pattern="{{getImagePrefixReg()}}" [(ngModel)]="container.image"
                placeholder="镜像地址">
              <span class="tooltip-content">
                {{'RULE.REGEXT' | translate}}{{getImagePrefixReg()}}
              </span>
            </label>
          </div>
          <div class="form-group form-group-padding">
            <label class="col-md-3 form-group-label-override required">{{'TITLE.MEMORY_NUM' | translate}}</label>
            <label aria-haspopup="true" [class.invalid]="!checkMemory(container.resources.limits.memory)" style="padding-right: 0;margin-right: 0;padding-left: 0"
              role="tooltip" class="col-md-6 tooltip tooltip-validation tooltip-md tooltip-bottom-left">
              <input type="number" style="width:inherit" name="container.resources.limits.memory_{{i}}" required [(ngModel)]="container.resources.limits.memory"
                placeholder="unit G">
              <span translate="'RULE.MEMORY'" [translateParams]="{value: memoryLimit}"  class="tooltip-content">
              </span>
            </label>
            <label class="col-md-4">G&nbsp;&nbsp;&nbsp;
              <label style="color: red">price: {{container.resources.limits.memory * memoryUnitPrice | number:'1.2-2'}}{{'UNIT.PRICE' | translate}}</label>
            </label>
          </div>
          <div class="form-group form-group-padding">
            <label class="col-md-3 form-group-label-override required">CPU{{'UNIT.CORE_NUM' | translate}}</label>
            <label aria-haspopup="true" [class.invalid]="!checkCpu(container.resources.limits.cpu)" style="padding-right: 0;margin-right: 0;padding-left: 0"
              role="tooltip" class="col-md-6 tooltip tooltip-validation tooltip-md tooltip-bottom-left">
              <input type="number" name="container.resources.limits.cpu_{{i}}" [(ngModel)]="container.resources.limits.cpu" style="width:inherit"
                required placeholder="单位个">
              <span translate="'RULE.CPU'" translateParams="{value: cpuLimit}" class="tooltip-content">
              </span>
            </label>
            <label class="col-md-4">{{'UNIT.CORE' | translate}}&nbsp;&nbsp;&nbsp;
              <label style="color: red">price: {{container.resources.limits.cpu * cpuUnitPrice | number:'1.2-2'}}{{'UNIT.PRICE' | translate}}</label>
            </label>
          </div>

        </div>

        <div class="container-box">
          <label class="label-level2" [id]="i ? '环境变量配置' + i : '环境变量配置'">{{'TITLE.ENVIRONMENT_VAR' | translate}}
            <button (click)="onAddEnvFrom(i)" style="margin-left: 10px;" class="wayne-button primary"><clr-icon shape="add-text"></clr-icon>{{'TITLE.ADD_GROUP' | translate}}</button>
             <button (click)="onAddEnv(i)" style="margin-left: 10px;" class="wayne-button primary"><clr-icon shape="add"></clr-icon>{{'TITLE.ADD_ONE' | translate}}</button>
          </label>
          <div *ngFor="let envFrom of container.envFrom; let j = index">
            <div class="form-group form-group-padding">
              <label for="envFromType-{{i}}-{{j}}" class="col-md-3 form-group-label-override required">{{'TITLE.LOAD_GROUP' | translate}}
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md">
                  <clr-icon shape="info-circle" size="24"></clr-icon>
                  <span class="tooltip-content">{{'MESSAGE.LOAD_GROUP' | translate}}</span>
                </a>
              </label>
              <div class="select">
                <select id="envFromType-{{i}}-{{j}}" name="envFrom.type_{{i}}_{{j}}" (change)="envFromChange($event.target.value,i,j)">
                  <option value="1" [selected]="envFrom.configMapRef">{{'TITLE.LOAD_CONFIGMAP' | translate}}</option>
                  <option value="2" [selected]="envFrom.secretRef">{{'TITLE.LOAD_SECRET' | translate}}</option>
                </select>
              </div>

              <clr-icon style="margin-top: 10px;margin-right: 8px" (click)="onAddEnvFrom(i)" shape="plus-circle" [title]="'TITLE.ADD_ENVIRONMENT' | translate" class="is-solid"></clr-icon>
              <clr-icon style="margin-top: 10px" (click)="onDeleteEnvFrom(i,j)" shape="trash" [title]="'TITLE.DELETE_ENVIRONMENT' | translate" class="is-solid"></clr-icon>
            </div>
            <div *ngIf="envFrom" class="form-group form-group-padding">
              <input type="text" size="40" name="envFrom.prefix_{{i}}_{{j}}" [(ngModel)]="envFrom.prefix" [placeholder]="'PLACEHOLDER.ENVIRONMENT' | translate">
            </div>
            <div *ngIf="envFrom && envFrom.configMapRef" class="form-group form-group-padding">
              <input type="text" size="40" required name="envFrom.configMapRef.name_{{i}}_{{j}}" [(ngModel)]="envFrom.configMapRef.name"
                [placeholder]="'TITLE.CONFIGMAP_NAME' | translate">
            </div>
            <div *ngIf="envFrom && envFrom.secretRef" class="form-group form-group-padding">
              <input type="text" size="40" required name="envFrom.secretRef.name_{{i}}_{{j}}" [(ngModel)]="envFrom.secretRef.name"
                [placeholder]="'TITLE.SECRET_NAME' | translate">
            </div>

          </div>

          <div *ngFor="let env of container.env; let j = index">
            <div class="form-group form-group-padding">
              <label for="envType-{{i}}-{{j}}" class="col-md-3 form-group-label-override required">{{'TITLE.ADD_ONE' | translate}}
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md">
                  <clr-icon shape="info-circle" size="24"></clr-icon>
                  <span class="tooltip-content">{{'MESSAGE.SUPPORT_ENVIRONMENT' | translate}}</span>
                </a>
              </label>
              <div class="select">
                <select id="envType-{{i}}-{{j}}" name="env.type_{{i}}_{{j}}" (change)="envChange($event.target.value,i,j)">
                  <option value="0" [selected]="env.value!=null">{{'TITLE.LOAD_ENVIRONMENT' | translate}}</option>
                  <option value="1" [selected]="env.valueFrom?.configMapKeyRef">{{'TITLE.LOAD_CONFIGMAP' | translate}}</option>
                  <option value="2" [selected]="env.valueFrom?.secretKeyRef">{{'TITLE.LOAD_SECRET' | translate}}</option>
                  <option value="3" selected>{{'OTHER' | translate}}</option>
                </select>
              </div>
              <clr-icon style="margin-top: 10px;margin-right: 8px" (click)="onAddEnv(i)" shape="plus-circle" [title]="'TITLE.ADD_ENVIRONMENT' | translate" class="is-solid"></clr-icon>
              <clr-icon style="margin-top: 10px" (click)="onDeleteEnv(i,j)" shape="trash" [title]="'TITLE.DELETE_ENVIRONMENT' | translate" class="is-solid"></clr-icon>
            </div>
            <div class="form-group form-group-padding">
              <input [(ngModel)]="env.name" required name="env.name_{{i}}_{{j}}" type="text" size="45" [placeholder]="'TITLE.ENVIRONMENT_NAME' | translate">
            </div>
            <div *ngIf="env.value != null" class="form-group form-group-padding">
              <input [(ngModel)]="env.value" required name="env.value_{{i}}_{{j}}" type="text" size="45" [placeholder]="'TITLE.ENVIRONMENT_NUM' | translate">
            </div>
            <div *ngIf="env.valueFrom && env.valueFrom.configMapKeyRef" class="form-group form-group-padding">
              <input type="text" size="40" required name="env.valueFrom.configMapKeyRef.name_{{i}}_{{j}}" [(ngModel)]="env.valueFrom.configMapKeyRef.name"
                [placeholder]="'TITLE.CONFIGMAP_NAME' | translate">
              <input type="text" size="40" required name="env.valueFrom.configMapKeyRef.key_{{i}}_{{j}}" [(ngModel)]="env.valueFrom.configMapKeyRef.key"
                [placeholder]="'TITLE.CONFIGMAP_KEY' | translate">
            </div>
            <div *ngIf="env.valueFrom && env.valueFrom.secretKeyRef" class="form-group form-group-padding">
              <input type="text" size="40" required name="env.valueFrom.secretKeyRef.name_{{i}}_{{j}}" [(ngModel)]="env.valueFrom.secretKeyRef.name"
                [placeholder]="'TITLE.SECRET_NAME' | translate">
              <input type="text" size="40" required name="env.valueFrom.secretKeyRef.key_{{i}}_{{j}}" [(ngModel)]="env.valueFrom.secretKeyRef.key"
                [placeholder]="'TITLE.SECRET_KEY' | translate">
            </div>
          </div>
        </div>

        <div class="container-box">
          <div class="toggle-switch">
            <input type="checkbox" [checked]="container.readinessProbe" (change)="readinessProbeChange(i)" id="readinessProbe{{i}}">
            <label class="label-level2" [id]="i ? '可用性检查' + i : '可用性检查'" for="readinessProbe{{i}}">{{'TITLE.USABLE_CHECK' | translate}}
              <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                <clr-icon shape="info-circle" size="24"></clr-icon>
                <span class="tooltip-content">{{'MESSAGE.USABLE' | translate}}</span>
              </a>
            </label>
          </div>

          <div *ngIf="container.readinessProbe" style="color:#000">
            <div class="form-group form-group-padding">
              <label class="col-md-3 form-group-label-override">{{'TITLE.EXTEND_TIME' | translate}}
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                  <clr-icon shape="info-circle" size="24"></clr-icon>
                  <span class="tooltip-content">{{'MESSAGE.EXTEND_TIME' | translate}}</span>
                </a>
              </label>
              <input type="number" required name="container.readinessProbe.timeoutSeconds_{{i}}" [(ngModel)]="container.readinessProbe.timeoutSeconds"
                [placeholder]="'PLACEHOLDER.SECOND' | translate">
              <label class="col-md-3 form-group-label-override">{{'TITLE.CHECK_CYCLE' | translate}}
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                  <clr-icon shape="info-circle" size="24"></clr-icon>
                  <span class="tooltip-content">{{'MESSAGE.CHECK_CYCLE' | translate}}</span>
                </a>
              </label>
              <input type="number" required name="container.readinessProbe.periodSeconds{{i}}" [(ngModel)]="container.readinessProbe.periodSeconds"
                [placeholder]="'PLACEHOLDER.SECOND' | translate">
            </div>
            <div class="form-group form-group-padding">
              <label class="col-md-3 form-group-label-override">{{'TITLE.FAIL_NUM' | translate}}</label>
              <input type="number" required name="container.readinessProbe.failureThreshold{{i}}" [(ngModel)]="container.readinessProbe.failureThreshold">
            </div>

            <div class="form-group form-group-padding">
              <label for="readinessProbeType_{{i}}" class="col-md-3 form-group-label-override required">{{'TITLE.USABLE_CHECK_WAY' | translate}}</label>
              <div class="select">
                <select name="readinessProbeType_{{i}}" (change)="readinessProbeTypeChange($event.target.value,i)">
                  <option value="0" [selected]="container.readinessProbe.httpGet">{{'TITLE.HTTP_REQUEST' | translate}}</option>
                  <option value="1" [selected]="container.readinessProbe.tcpSocket">{{'TITLE.TCP_PORT' | translate}}</option>
                  <option value="2" [selected]="container.readinessProbe.exec">{{'TITLE.EXECUTE_COMMAND' | translate}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="container.readinessProbe.httpGet" class="form-group form-group-padding">
              <input type="number" size="30" required name="container.readinessProbe.httpGet.port_{{i}}" [(ngModel)]="container.readinessProbe.httpGet.port"
                [placeholder]="'TITLE.REQUEST_HTTP_PORT' | translate">
              <input type="text" size="70" required name="container.readinessProbe.httpGet.path_{{i}}" [(ngModel)]="container.readinessProbe.httpGet.path"
                [placeholder]="'TITLE.REQUEST_URL' | translate">
            </div>
            <div *ngIf="container.readinessProbe.tcpSocket" class="form-group form-group-padding">
              <input type="number" size="30" required name="container.readinessProbe.tcpSocket.port_{{i}}" [(ngModel)]="container.readinessProbe.tcpSocket.port"
                [placeholder]="'TITLE.REQUEST_TCP_PORT' | translate">
            </div>
            <div *ngIf="container.readinessProbe.exec">
              <div class="form-group form-group-padding">
                <textarea name="container.readinessProbe.exec.command_{{i}}" [(ngModel)]="container.readinessProbe.exec.command[0]"  [placeholder]="'PLACEHOLDER.CMOMAND' | translate"></textarea>
              </div>


            </div>
          </div>
        </div>

        <div class="container-box">
          <div class="toggle-switch">
            <input type="checkbox" [checked]="container.livenessProbe" (change)="livenessProbeChange(i)" id="livenessProbe{{i}}">
            <label class="label-level2" [id]="i ? '存活检查' + i : '存活检查'" for="livenessProbe{{i}}">{{'TITLE.LIVE_CHECK' | translate}}
              <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                <clr-icon shape="info-circle" size="24"></clr-icon>
                <span class="tooltip-content">{{'MESSAGE.LIVE_CHECK' | translate}}</span>
              </a>
            </label>
          </div>

          <div *ngIf="container.livenessProbe" style="color:#000">
            <div class="form-group form-group-padding">
              <label class="col-md-3 form-group-label-override">{{'TITLE.EXTEND_TIME' | translate}}
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                  <clr-icon shape="info-circle" size="24"></clr-icon>
                  <span class="tooltip-content">{{'MESSAGE_EXTEND_TIME' | translate}}</span>
                </a>
              </label>
              <input type="number" required name="container.livenessProbe.timeoutSeconds_{{i}}" [(ngModel)]="container.livenessProbe.timeoutSeconds"
                [placeholder]="'PLACEHOLDER.SECOND' | translate">
              <label class="col-md-3 form-group-label-override">{{'TITLE.CHECK_CYCLE' | translate}}
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                  <clr-icon shape="info-circle" size="24"></clr-icon>
                  <span class="tooltip-content">{{'MESSAGE.CHECK_CYCLE' | translate}}</span>
                </a>
              </label>
              <input type="number" required name="container.livenessProbe.periodSeconds{{i}}" [(ngModel)]="container.livenessProbe.periodSeconds"
                [placeholder]="'PLACEHOLDER.SECOND' | translate">
            </div>
            <div class="form-group form-group-padding">
              <label class="col-md-3 form-group-label-override">{{'TITLE.FAIL_NUM' | translate}}</label>
              <input type="number" required name="container.livenessProbe.failureThreshold{{i}}" [(ngModel)]="container.livenessProbe.failureThreshold">
              <label class="col-md-3 form-group-label-override">{{'TITLE.CHECK_DELAY' | translate}}
                <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-md">
                  <clr-icon shape="info-circle" size="24"></clr-icon>
                  <span class="tooltip-content">{{'MESSAGE.CHECK_DELAY' | translate}}</span>
                </a>
              </label>
              <input type="number" required name="container.livenessProbe.initialDelaySeconds{{i}}" [(ngModel)]="container.livenessProbe.initialDelaySeconds"
                [placeholder]="'PLACEHOLDER.SECOND' | translate">
            </div>

            <div class="form-group form-group-padding">
              <label for="livenessProbeType_{{i}}" class="col-md-3 form-group-label-override required">{{'TITLE.USABLE_CHECK_WAY' | translate}}</label>
              <div class="select">
                <select name="livenessProbeType_{{i}}" (change)="livenessProbeTypeChange($event.target.value,i)">
                  <option value="0" [selected]="container.livenessProbe.httpGet">{{'TITLE.HTTP_REQUEST' | translate}}</option>
                  <option value="1" [selected]="container.livenessProbe.tcpSocket">{{'TITLE.TCP_PORT' | translate}}</option>
                  <option value="2" [selected]="container.livenessProbe.exec">{{'TITLE.EXECUTE_COMMAND' | translate}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="container.livenessProbe.httpGet" class="form-group form-group-padding">
              <input type="number" size="30" required name="container.livenessProbe.httpGet.port_{{i}}" [(ngModel)]="container.livenessProbe.httpGet.port"
                [placeholder]="'TITLE.REQUEST_HTTP_PORT' | translate">
              <input type="text" size="70" required name="container.livenessProbe.httpGet.path_{{i}}" [(ngModel)]="container.livenessProbe.httpGet.path"
                [placeholder]="'TITLE.REQUEST_URL' | translate">
            </div>
            <div *ngIf="container.livenessProbe.tcpSocket" class="form-group form-group-padding">
              <input type="number" size="30" required name="container.livenessProbe.tcpSocket.port_{{i}}" [(ngModel)]="container.livenessProbe.tcpSocket.port"
                [placeholder]="'TITLE.REQUEST_TCP_PORT' | translate">
            </div>
            <div *ngIf="container.livenessProbe.exec">
              <div class="form-group form-group-padding">
                <textarea name="container.livenessProbe.exec.command_{{i}}" [(ngModel)]="container.livenessProbe.exec.command[0]"  [placeholder]="'PLACEHOLDER.COMMAND' | translate"></textarea>
              </div>


            </div>
          </div>
        </div>
        <div class="container-box">
          <div class="toggle-switch">
            <input type="checkbox" [checked]="container.lifecycle"  id="lifecycle{{i}}" (change)="lifecycleChange(i)">
            <label class="label-level2" [id]="i ? '生命周期' + i : '生命周期'" for="lifecycle{{i}}">{{'TITLE.LIFE_CYCLE' | translate}}
              <a role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                <clr-icon shape="info-circle" size="24"></clr-icon>
                <span class="tooltip-content">{{'MESSAGE.LIFE_CYCLE' | translate}}</span>
              </a>
            </label>
          </div>

          <div *ngIf="container.lifecycle" style="color:#000">
            <div class="form-group form-group-padding">
              <label for="lifecycleType_{{i}}" class="col-md-3 form-group-label-override required">postStart</label>
              <div class="select">
                <select name="lifecycleType_{{i}}" (change)="lifecyclePostStartProbeTypeChange($event.target.value,i)">
                  <option value="-1" [selected]="!container.lifecycle.postStart">{{'TITLE.NOT_USE' | translate}}</option>
                  <option value="0" [selected]="container.lifecycle.postStart && container.lifecycle.postStart.httpGet">{{'TITLE.HTTP_REQUEST' | translate}}</option>
                  <option value="1" [selected]="container.lifecycle.postStart && container.lifecycle.postStart.tcpSocket">{{'TITLE.TCP_PORT' | translate}}</option>
                  <option value="2" [selected]="container.lifecycle.postStart && container.lifecycle.postStart.exec">{{'TITLE.EXECUTE_COMMAND' | translate}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="container.lifecycle.postStart && container.lifecycle.postStart.httpGet" class="form-group form-group-padding">
              <input type="number" size="30" required name="container.lifecycle.postStart.httpGet.port_{{i}}" [(ngModel)]="container.lifecycle.postStart.httpGet.port"
                [placeholder]="'TITLE.REQUEST_HTTP_PORT' | translate">
              <input type="text" size="70" required name="container.lifecycle.postStart.httpGet.path_{{i}}" [(ngModel)]="container.lifecycle.postStart.httpGet.path"
                [placeholder]="'TITLE.REQUEST_URL' | translate">
            </div>
            <div *ngIf="container.lifecycle.postStart && container.lifecycle.postStart.tcpSocket" class="form-group form-group-padding">
              <input type="number" size="30" required name="container.lifecycle.postStart.tcpSocket.port_{{i}}" [(ngModel)]="container.lifecycle.postStart.tcpSocket.port"
                [placeholder]="'TITLE.REQUEST_TCP_PORT' | translate">
            </div>
            <div *ngIf="container.lifecycle.postStart && container.lifecycle.postStart.exec">
              <div class="form-group form-group-padding">
                <textarea name="container.lifecycle.postStart.exec.command_{{i}}" [(ngModel)]="container.lifecycle.postStart.exec.command[0]"  [placeholder]="'PLACEHOLDER.COMMAND' | translate"></textarea>
              </div>
            </div>
          </div>
          <div *ngIf="container.lifecycle" style="color:#000">
            <div class="form-group form-group-padding">
              <label for="lifecycleType_{{i}}" class="col-md-3 form-group-label-override required">preStop</label>
              <div class="select">
                <select name="lifecycleType_{{i}}" (change)="lifecyclePreStopProbeTypeChange($event.target.value,i)">
                  <option value="-1" [selected]="!container.lifecycle.preStop">{{'TITLE.NOT_USE' | translate}}</option>
                  <option value="0" [selected]="container.lifecycle.preStop && container.lifecycle.preStop.httpGet">{{'TITLE.HTTP_REQUEST' | translate}}</option>
                  <option value="1" [selected]="container.lifecycle.preStop && container.lifecycle.preStop.tcpSocket">{{'TITLE.TCP_PORT' | translate}}</option>
                  <option value="2" [selected]="container.lifecycle.preStop && normalPreStopExecSelected(i)">{{'TITLE.EXECUTE_COMMAND' | translate}}</option>
                  <option value="3" [selected]="container.lifecycle.preStop && safeExitSelected(i)">{{'TITLE.SAFE_QUIT' | translate}}</option>
                </select>
              </div>
            </div>
            <div *ngIf="container.lifecycle.preStop && container.lifecycle.preStop.httpGet" class="form-group form-group-padding">
              <input type="number" size="30" required name="container.lifecycle.preStop.httpGet.port_{{i}}" [(ngModel)]="container.lifecycle.preStop.httpGet.port"
                [placeholder]="'TITLE.REQUEST_HTTP_PORT' | translate">
              <input type="text" size="70" required name="container.lifecycle.preStop.httpGet.path_{{i}}" [(ngModel)]="container.lifecycle.preStop.httpGet.path"
                [placeholder]="'TITLE.REQUEST_URL' | translate">
            </div>
            <div *ngIf="container.lifecycle.preStop && container.lifecycle.preStop.tcpSocket" class="form-group form-group-padding">
              <input type="number" size="30" required name="container.lifecycle.preStop.tcpSocket.port_{{i}}" [(ngModel)]="container.lifecycle.preStop.tcpSocket.port"
                [placeholder]="'TITLE.REQUEST_TCP_PORT' | translate">
            </div>
            <div *ngIf="container.lifecycle.preStop && normalPreStopExecSelected(i)">
              <div class="form-group form-group-padding">
                <textarea name="container.lifecycle.preStop.exec.command_{{i}}" [(ngModel)]="container.lifecycle.preStop.exec.command[0]"  [placeholder]="'PLACEHOLDER.COMMAND' | translate"></textarea>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </form>
</div>
<div class="clr-wizard-footer-buttons tpl-bottom" [style.top.px]="top">
  <button type="button" class="btn btn-outline" (click)="onCancel()">{{'BUTTON.CANCEL' | translate}}</button>
  <button type="button" class="btn btn-primary" (click)="onAddContainer()">{{'BUTTON.ADD_CONTAINER' | translate}}</button>
  <button type="button" class="btn btn-primary" (click)="openModal()">{{'BUTTON.ADVANCED_CONFIG' | translate}}</button>
  <button type="button" class="btn btn-primary" [disabled]="!isValid" (click)="onSubmit()">{{'BUTTON.SUBMIT' | translate}}</button>
  <span style="color: red">{{'TITLE.PRICE_TOTAL' | translate}}{{totalFee | number:'1.2-2' }}{{'UNIT.PRICE' | translate}}</span>
</div>
<wayne-ace-editor (outputObj)="saveDeployment($event)"></wayne-ace-editor>
