<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
    <div class="clr-row flex-items-xs-between flex-items-xs-top" style="padding-left: 15px; padding-right: 15px;">
      <h2 class="header-title">{{'DEPLOYMENT_ADMIN.TMP.DEPLOYMENT_TMP_LIST' | translate}}</h2>
    </div>
    <div class="clr-row flex-items-xs-between" style="height:32px;">
      <div class="option-left">
        <button class="btn btn-link" (click)="openModal()">
          <clr-icon shape="add"></clr-icon>
          {{'DEPLOYMENT_ADMIN.TMP.DEPLOYMENT_TMP_CREATE' | translate}}
        </button>
        <create-edit-deploymenttpl (create)="createDeployment($event)"></create-edit-deploymenttpl>
      </div>
    </div>
    <list-deploymenttpl [deploymentTpls]="changedDeployments" (delete)="deleteDeployment($event)"
                        (edit)="editDeployment($event)" (paginate)="retrieve($event)"
                        [page]="pageState.page"></list-deploymenttpl>
  </div>
</div>
