<clr-datagrid (clrDgRefresh)="refresh($event)" [(clrDgSelected)]="selected" class="wayne-clr-datagrid">
  <clr-dg-placeholder>{{'MESSAGE.NO_MESSAGE' | translate}}</clr-dg-placeholder>
  <clr-dg-column [clrDgField]="'id'" class="col-id">
    <ng-container>
      ID
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgSortBy]="'createTime'" class="col-time">
    <ng-container *clrDgHideableColumn="showState['create_time']">
      {{'TITLE.CREATE_TIME' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column class="col-version">
    <ng-container *clrDgHideableColumn="showState['version']">
      {{'TITLE.VERSION' | translate}}
    </ng-container>
  </clr-dg-column>
  <!-- 防止事件图标换行-->
  <clr-dg-column class="col-cluster">
    <ng-container *clrDgHideableColumn="showState['online_cluster']">
      {{'TITLE.ONLINE_CLUSTER' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'description'" class="col-description">
    <ng-container *clrDgHideableColumn="showState['release_explain']">
      {{'TITLE.RELEASE' | translate}}{{'TITLE.EXPLAIN' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'user'">
    <ng-container *clrDgHideableColumn="showState['create_user']">
      {{'TITLE.CREATE_USER' | translate}}
    </ng-container>
  </clr-dg-column>
  <!-- 防止操作图标换行-->
  <clr-dg-column class="col-operate">
    <ng-container *clrDgHideableColumn="showState['action']">
      {{'TITLE.ACTION' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-row *ngFor="let deploymentTpl of deploymentTpls" [clrDgItem]="deploymentTpl">
    <clr-dg-cell class="col-id">{{deploymentTpl.id}}</clr-dg-cell>
    <clr-dg-cell class="col-time">{{deploymentTpl.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell class="col-version">
      <div *ngFor="let version of deploymentTpl.containerVersions" class="version-text">
        <a href="javascript:;" (click)="versionDetail(version)">{{version}}</a>
      </div>
    </clr-dg-cell>
    <clr-dg-cell class="col-cluster">
      <div class="form-group" style="padding-bottom: 2px"
           *ngFor="let status of deploymentTpl.status">
        <a href="javascript:void(0)" (click)="listPod(status,deploymentTpl)" class="label clickable"
           [class.clickable]="status.state!=2"
           [class.label-success]="status.state==0"
           [class.label-warning]="status.state==1">
          {{status.cluster}}
          <span *ngIf="status.desired">({{status.current}}/{{status.desired}})</span>
        </a>
        <a href="javascript:void(0)"
           *ngIf="status.warnings"
           (click)="listEvent(status.warnings)"
           style="color:#a32100">
          <clr-icon shape="error-standard"></clr-icon>
        </a>
      </div>
    </clr-dg-cell>
    <clr-dg-cell class="col-description">
      <div class="text-overflow"><a href="javascript:void(0)"
                                    (click)="tplDetail(deploymentTpl)">{{deploymentTpl.description}}</a>
      </div>
    </clr-dg-cell>
    <clr-dg-cell>{{deploymentTpl.user}}</clr-dg-cell>
    <clr-dg-cell class="col-operate">
      <button class="wayne-button text"
              (click)="publishTpl(deploymentTpl)"
              *ngIf="authService.currentAppPermission.kubeDeployment.create || authService.currentUser.admin">
        {{'BUTTON.RELEASE' | translate}}</button>
      <button class="wayne-button text"
              (click)="restartDeployment(deploymentTpl)"
              *ngIf="deploymentTpl.status && (authService.currentAppPermission.kubeDeployment.create || authService.currentUser.admin)">
        {{'BUTTON.RESTART' | translate}}</button>
      <button class="wayne-button text"
              (click)="deploymentTplDetail(deploymentTpl)"
              *ngIf="authService.currentAppPermission.deployment.read || authService.currentUser.admin">
        {{'BUTTON.DETAIL' | translate}}</button>
      <button class="wayne-button text"
              (click)="cloneDeploymentTpl(deploymentTpl)"
              *ngIf="authService.currentAppPermission.deployment.create || authService.currentUser.admin">
        {{'BUTTON.CLONE' | translate}}</button>
      <button class="wayne-button text"
              *ngIf="!deploymentTpl.status && (authService.currentAppPermission.deployment.delete || authService.currentUser.admin)"
              (click)="deleteDeploymentTpl(deploymentTpl)">
        {{'BUTTON.DELETE' | translate}}</button>
      <button class="wayne-button text"
              (click)="offlineDeployment(deploymentTpl)"
              *ngIf="deploymentTpl.status && (authService.currentAppPermission.kubeDeployment.delete || authService.currentUser.admin)">
        {{'BUTTON.DROP' | translate}}</button>
      <!-- <button class="wayne-button text"
            (click)="modifyReplicas(deploymentTpl)"
            *ngIf="deploymentTpl.status && (authService.currentAppPermission.kubeDeployment.create || authService.currentUser.admin)">
      {{'DEPLOYMENT.MODIFY_REPLICA' | translate}}</button> -->
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <wayne-paginate
      [(currentPage)]="currentPage"
      [total]="page.totalCount"
      [pageSizes]="[10, 20, 50]"
      (sizeChange)="pageSizeChange($event)"
    >
    </wayne-paginate>
  </clr-dg-footer>
</clr-datagrid>
<list-event></list-event>
<list-pod></list-pod>
<wayne-ace-editor></wayne-ace-editor>

<publish-tpl (published)="published($event)"></publish-tpl>
