<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
    <div class="clr-row flex-items-xs-between flex-items-xs-top overview-offset">
      <h2 class="header-title">资源</h2>
    </div>
    <div class="clr-row group overview-offset">
      <wayne-card class="wayne-card">
        <div class="card-title">机器数量</div>
        <p class="card-text">
          <a href="javascript:void(0)" (click)="goToLink('/admin/kubernetes/node')"
             class="nav-link"> {{summary.nodeTotal}}</a>
        </p>
      </wayne-card>
      <wayne-card class="wayne-card">
        <div class="card-title">项目总数</div>
        <p class="card-text">
          <a href="javascript:void(0)" (click)="goToLink('/admin/reportform/app')"
             class="nav-link">{{summary.appTotal}}</a>
        </p>
      </wayne-card>
      <wayne-card class="wayne-card">
        <div class="card-title">用户总数</div>
        <p class="card-text">
          <a href="javascript:void(0)" (click)="goToLink('/admin/system/user')"
             class="nav-link"> {{summary.userTotal}}</a>
        </p>
      </wayne-card>
      <wayne-card class="wayne-card">
        <div class="card-title">实例数量</div>
        <p class="card-text">
          <a href="javascript:void(0)" (click)="goToLink('/admin/kubernetes/pod')"
             class="nav-link"> {{summary.podTotal}}</a>
        </p>
      </wayne-card>
    </div>
  </div>
</div>
