.group {
  margin-bottom: 15px;

  .clr-col-sm-2 {
    font-weight: 800;
  }
}

.card-text {
  font-size: 1.8rem;
  color: #377AEC;
  font-weight: 800;
  text-align: center;
}

.wayne-card {
  width: 185px;
  height: 116px;
}

.card-title {
  font-size: 16px;
  color: #222;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: center;
}

.overview-offset {
  padding: 0px 15px;
}
