<clr-modal [(clrModalOpen)]="createSecrettplOpened" [clrModalSize]="'lg'" #modal>
  <h3 class="modal-title">{{secrettplTitle}}
    <wayne-modal-operate [modal]="modal" *ngIf="createSecrettplOpened"></wayne-modal-operate>
  </h3>
  <div class="modal-body">
    <form #secrettplForm="ngForm" clrForm clrLayout="horizontal">
      <clr-select-container>
        <label class="required">加密字典</label>
        <select id="secret_id" clrSelect [(ngModel)]="secrettpl.secretId" [disabled]="actionType==1" name="secret_id">
          <option *ngFor="let secret of secrets" [ngValue]="secret.id" [selected]="secret.id === secrettpl.secretId">
            {{secret.name}}
          </option>
        </select>
      </clr-select-container>
      <div class="clr-form-control clr-row">
        <label class="clr-control-label">{{'DEPLOYMENT_ADMIN.CREATE.METADATA' | translate}}</label>
        <div class="clr-control-container clr-col-md-10 clr-col-12">
          <wayne-ace-editor-box></wayne-ace-editor-box>
        </div>
      </div>
      <clr-textarea-container>
        <label>{{'TITLE.DESCRIPTION' | translate}}</label>
        <textarea id="description" clrTextarea [(ngModel)]="secrettpl.description" name="description" rows="3">
                  </textarea>
      </clr-textarea-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onCancel()">{{'BUTTON.CANCEL' | translate}}</button>
    <button type="button" class="btn btn-primary" [disabled]="!isValid"
            (click)="onSubmit()">{{'BUTTON.SUBMIT' | translate}}</button>
  </div>
</clr-modal>
