.form-group-label-override {
  font-size: 14px;
  font-weight: 400;
}

.form-group-padding {
  margin-top: 22px;
  padding-left: 150px;
}

.access-level-label {
  font-size: 14px;
  font-weight: 400;
  margin-left: -4px;
  margin-right: 12px;
  top: -6px;
  position: relative;
}

.label-level1 {
  font-size: 20px;
  color: #1e58ab
}

.label-level2 {
  font-size: 16px;
  color: #007cbb;
}

.container-box {
  margin-top: 30px;
}

.form-group-container {
  margin-bottom: 20px;
}

.footer-buttons {
  text-align: right;
  padding-right: 24px;
  margin: 0
}

body {
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;
  text-align: center;
}

.wrap {
  background: #fff;
  margin: 0;
  display: block;
  width: 95%;
  padding: 20px;
}

p {
  margin-top: 15px;
  text-align: justify;
}



