<clr-datagrid (clrDgRefresh)="refresh($event)">
  <clr-dg-column class="col-id">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      ID
    </ng-container>
  </clr-dg-column>
  <clr-dg-column [clrDgField]="'name'" class="col-app-name">
    <ng-container *clrDgHideableColumn="{hidden: false}">
     {{'TITLE.NAME' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      K8S命名空间
    </ng-container>
  </clr-dg-column>
  <clr-dg-column class="col-metadata">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'TITLE.METADATA' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column>
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'TITLE.CREATE_USER' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column class="col-time">
    <ng-container *clrDgHideableColumn="{hidden: false}">
      {{'TITLE.CREATE_TIME' | translate}}
    </ng-container>
  </clr-dg-column>
  <clr-dg-column class="col-time">
    <ng-container *clrDgHideableColumn="{hidden: true}">
      更新时间
    </ng-container>
  </clr-dg-column>
  <clr-dg-row *ngFor="let ns of namespaces" [clrDgItem]="ns">
    <clr-dg-action-overflow>
      <button class="action-item" (click)="editNamespace(ns)">{{'BUTTON.EDIT' | translate}}</button>
      <button class="action-item" (click)="migrateNamespace(ns)">空间迁移</button>
      <button class="action-item" (click)="deleteNamespace(ns)">{{'BUTTON.DELETE' | translate}}</button>
    </clr-dg-action-overflow>
    <clr-dg-cell class="col-id">{{ns.id}}</clr-dg-cell>
    <clr-dg-cell class="col-app-name copy"><a href="javascript:void(0)" (click)="goToLink(ns, 'app')">{{ns.name}}</a>
    </clr-dg-cell>
    <clr-dg-cell class="copy">{{ns.kubeNamespace}}</clr-dg-cell>
    <clr-dg-cell class="col-metadata">
      <div class="text-overflow">
        <a href="javascript:;" (click)="detailMetaDataTpl(ns.metaData)">{{ns.metaData}}</a>
      </div></clr-dg-cell>
    <clr-dg-cell>{{ns.user}}</clr-dg-cell>
    <clr-dg-cell class="col-time">{{ns.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</clr-dg-cell>
    <clr-dg-cell class="col-time">{{ns.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <wayne-paginate
      [(currentPage)]="currentPage"
      [total]="page.totalCount"
      [pageSizes]="[10, 20, 50]"
      (sizeChange)="pageSizeChange($event)"
    >
    </wayne-paginate>
  </clr-dg-footer>
</clr-datagrid>
