/* You can add global styles to this file, and also import other style files */

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

textarea {
  resize: auto !important;
}

.warning-text{
  color: red;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(127, 127, 127, 1);
  /*-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);*/
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(127, 127, 127, 1);
}

/* copy-svg */
.copy-svg {
  opacity: .5;

  &:hover {
    opacity: .7;
  }
}

/* create-tpl bottom */
.tpl-bottom {
  position: absolute;
  padding-left: 60px;
  left: 0px;
  width: 100%;
  background: #F4F7FB;
  z-index: 99;
}

/*tip css*/
.tip-box {
  border-radius: 4px;
  background: #000;
  color: #fff;
  padding: 5px;
  position: fixed;
  z-index: 999;
  min-width: 40px;
  max-width: 250px;
  word-break: break-all;
  white-space: pre-wrap;
  word-wrap: normal;
}

.tip-box span {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  width: 100%;
  height: 100%;
}

.tip-box span:before {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 12px;
  color: inherit;
  width: 0px;
  height: 0px;
  display: block;
  border: 6px solid transparent;
  border-top: 6px solid;
}

.red-dot {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -3px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: red;
  }
}

/*------*/
.app-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -54px;
  margin-left: -54px;
  width: 108px !important;
  height: 108px !important;
}

.breadcrumb {
  padding: 8px 15px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.breadcrumb > li > a {
  color: #0275d8;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.breadcrumb > .active {
  color: #777;
}

.wayne-clr-datagrid {
  height: auto !important;
}

.datagrid-host {
  height: auto !important;
}

.jsoneditor-mode-code .ace-jsoneditor span {
  margin-top: 0;
}

.aceeditor .ace_line span {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.datagrid .datagrid-row .datagrid-cell {
  line-height: 20px;
}


.header-actions .dropdown button:focus {
  outline: none;
}

.form-group-label-override {
  width: auto !important;
}

span.label.label-light-blue {
  display: inline-block;
  line-height: .875rem;
  max-width: 262px;
  direction: rtl;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: all;
}

.copy {
  user-select: all;
}

a {
  outline: none;
}

.datagrid-foot .pagination-list {
  margin-left: 20px !important;
}

.datagrid-table-wrapper .datagrid-body {
  overflow-y: inherit;
}

.datagrid .datagrid-foot {
  border-top-width: 1px;
}

.modal{
  padding: 0 !important;
  // table action z-index 5000
  z-index: 5001 !important;
}

.fullPage {
  width: 100% !important;
  height: 100% !important;
  overflow-y: auto;
  .modal-content-wrapper{
    padding: 20px;
  }
  .modal-content{
    height: calc(100vh - 40px) !important;
    border-radius: 10px !important;
    overflow: auto;
  }
}
.modal-content .modal-body {
  max-height: 80vh;
}

.modal-content-wrapper {
  height: 100%;
}

.fullPageBox {
  float: right;
  margin-right: 5px;
  padding-right: 13px;
  position: relative;
}

.fullPageBox:after {
  content: '';
  display: block;
  width: 2px;
  height: 60%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #ccc;
}

.text-overflow {
  text-overflow: ellipsis;
  line-height: normal;
  overflow: hidden;
  white-space: nowrap;
}

.text-overflow > a {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 1500px) {
  .col-description {
    max-width: 280px !important;
  }
}

.hidden{
  display: none!important;
}

@import "./component/button";
@import "./component/table";
@import "./component/pagination";
@import "./component/dropdown";
@import "./component/hack";
@import "./component/form.scss";
@import "./component/tpl.scss";
@import './component/theme/custom.scss';
@import '../node_modules/@clr/ui/src/utils/components.clarity';
